﻿<object class="pdf-scroller" data="@Url.Action("_GeneratePDF", new { id = ViewBag.ProjectID, metaname = ViewBag.Metaname })" type="application/pdf" style="width:100%; height:1000px; ">
    <div class="alert alert-danger" role="alert"><strong><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Unable to load PDF Preview. Please make sure your browser has a PDF viewer plugin installed.</strong></div>
</object>
