﻿@model KABReport.Models.UserProjectPageViewModel
@{
    KABReport.Models.LanguageSet languageSet = ViewBag.LanguageSet;
    ViewBag.Title = @languageSet.Label_Reports;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>@languageSet.Label_Reports</h1>
        </div>
        @if (@Model.Projectguidance != null)
        {
            <div class="col-md-12" style="max-height:500px; overflow-y:scroll">
                    @Html.Raw(@Model.Projectguidance.Text)
            </div>
        }
        <div class="col-sm-12">
            <br />
        </div>
        
    </div>
    <div class="row" style="min-width:900px;">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-xs-6">
            <br />
        </div>


        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-12">
                            @(Html.Kendo().TreeView()
                              .Name("HierarchyTreeView")
                              .DataTextField("Name")
                              .DataSource(datasource => datasource.Read(read => read.Action("TreeViewHierarchies", "UserProjects").Data("GetData")))
                              .Events(events =>
                              {
                                  events.Change("ClearSearchBoxAndRefresh");
                              })
                              .ExpandAll(true)
                              .LoadOnDemand(true)
                            )
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <br />
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                @Html.TextBox("TB_ReportFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = @languageSet.Label_SearchPlaceholder })
                                <span class="input-group-btn">
                                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                                </span>
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" role="group" aria-label="..." style="width:100%">
                                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; @languageSet.Label_Refresh</a>&nbsp;
                                <a class="btn btn-sm btn-default" onclick="SelectAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; @languageSet.Label_SelectAll</a>&nbsp;
                                <a class="btn btn-sm btn-default" onclick="Download()"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; @languageSet.Label_Download</a>&nbsp;
                                <a class="btn btn-sm btn-default" onclick="DonwloadAll()"><span class="glyphicon glyphicon-download"></span>&nbsp; @languageSet.Label_DownloadAll</a>&nbsp;
                                <div style="float: right">
                                    @(Html.Kendo().DropDownList()
                          .Name("DropDownReportTypes")
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .OptionLabel("All Types")
                          .DataSource(source => source.Read("DropDownReportType", "ProjectReportGrid"))
                          .Events(events => events.Change("Refresh"))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            @(Html.Kendo().Grid<KABReport.Models.ProjectReportViewModel>()
                          .Name("GridReports")
                          .HtmlAttributes(new { style = "min-width: 500px" })
                          .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} " + @languageSet.Label_Reports).Empty(@languageSet.Label_NoReportsFound)))
                          .Columns(columns =>
                          {
                              columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%");
                              columns.Bound(p => p.ReportLabel).Title(@languageSet.Label_ReportName).ClientTemplate("#if(Uploaded== true) {#<a id='anchor_#=ID#' target='_blank' href='#=Path#'>#=ReportLabel#</a>#} else {##=ReportLabel##}#");
                              columns.Bound(p => p.FileSize).Title("File Size").Width("10%");
                              columns.Bound(p => p.Type).Title(@languageSet.Label_Type).Width("3%");
                          })
                          .Sortable()
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Sort(sort => sort.Add("Metaname").Ascending()) // <-- initial sort expression
                              .Model(model =>
                              {
                                  model.Id(t => t.ID);
                              })
                              .Read(read => read.Action("UserRead/" + Model.Project.ID, "ProjectReportGrid").Data("GetSearchInfo")).PageSize(50)
                          )
                          .Events(events => events.DataBound("KendoGridDatabound"))
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<script>

        function Refresh() {
            var grid = $("#GridReports").data("kendoGrid");
            if (grid.dataSource.page() != 1) {
                grid.dataSource.page(1);
            }
            grid.dataSource.read();
            ResetLogOutTimer();
        }


        function GetSearchInfo() {
            return {
                filterText: $('#TB_ReportFilter').val(),
                statusList: [true, false],
                type: $('#DropDownReportTypes').data('kendoDropDownList').value(),
                metaname: GetHierarchy()
            }
        }

        function SelectAll() {
            if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
                $("input[name=chk_grid]").map(function () { return this.checked = false; })
            }
            else {
                $("input[name=chk_grid]").map(function () { return this.checked = true; })
            }
        }

        function Download() {
            var ids = [];
            $("input[name=chk_grid]:checkbox:checked").each(function () {
                ids.push(this.value);
            });
            if (ids.length == 0) {
                alert("Please select the reports you require or hit \"Download All\"");
                return false;
            }
            location.href = '/DownloadAllReports/Multifiles?projectId=' + @Model.Project.ID + '&ids=' + ids.join("&ids=");
        }

        function DonwloadAll() {
            location.href = "/DownloadAllReports?id=" + @Model.Project.ID;
        }

        $("#TB_ReportFilter").keyup(function (e) {
            if (e.keyCode == 13) {
                Refresh();
            }
        });

        $(document).ready(function () {
            $('a.navbar-brand').hide();
            $('div#navbar').css('background-color', '@Model.Project.Color');
            $('div.footer').css('background-color', '@Model.Project.Color');
            @if(@Model.Project.LogoPath != null)
            {<text>
                $('img#clientIcon').attr('src', '@Model.Project.LogoPath');
            </text>}
            else
            {<text>
                $('img#clientIcon').hide();
            </text>}
            $('div#clientName').html('@Model.Project.Client').css('color', '@Model.Project.Color');
        });

        function GetData() {
            return {
                projectID: '@Model.Project.ID'
            };
        }

        function GetHierarchy() {
            var treeView = $('#HierarchyTreeView').data('kendoTreeView');
            var selected = treeView.select();
            return treeView.dataItem(selected) == undefined ? null : treeView.dataItem(selected).Metaname;
        }

        //function ResetTreeView() {
        //    var treeview = $('#HierarchyTreeView').data('kendoTreeView');
        //    var getItem = treeview.dataSource.get('');
        //    var selectItem = treeview.findByUid(getItem.uid);
        //    treeview.select(selectItem);
        //}

        function ClearSearchBoxAndRefresh() {
            $('#TB_ReportFilter').val('');
            Refresh();
        }


</script>


