﻿@model KABReport.Models.UserProjectPageViewModel
@{
    KABReport.Models.LanguageSet languageSet = ViewBag.LanguageSet;
    ViewBag.Title = @languageSet.Label_Reports;
}

<div>
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Project.PageTitle) || !string.IsNullOrEmpty(Model.Project.LogoPath))
        {
            <div class="col-sm-12" id="div-title">
                <h1 class="h1-title">
                    <img id="kabIcon_title" src="~/Content/karian_and_box_logo_nav.svg" style="max-height:80px; margin-top: 7px; padding-left:10px;" />
                    <img id="clientIcon_title" style="max-height:80px; margin-top: 7px; padding-left:10px;" />
                    @(Model.Project.PageTitle ?? "")
                </h1>
                <hr />

            </div>
        }
        @if (@Model.Projectguidance != null)
        {
            <div class="col-md-12" style="max-height:500px; overflow-y:scroll">
                @Html.Raw(@Model.Projectguidance.Text)
            </div>
        }

    </div>
    <div class="row" style="min-width:900px;">
        

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4 div-view-panel" style="min-height: 1045px;">
                    <div class="row">
                        <div class="col-xs-12">
                            @(Html.Kendo().TreeView()
                              .Name("HierarchyTreeView")
                              .DataTextField("Name")
                              .DataSource(datasource => datasource.Read(read => read.Action("TreeViewHierarchies", "UserProjects").Data("GetData")))
                              .Events(events =>
                              {
                                  events.Change("ClearSearchBoxAndRefresh");
                              })
                              .ExpandAll(true)
                              .LoadOnDemand(true)
                            //.HtmlAttributes(new { @style= "color: #d190cb;" })
                            )
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 div-pdf-panel">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group" role="group" aria-label="..." style="width:100%">
                                <a class="btn" id="btn-zoom-in" onclick="ZoomIn()"><span class="glyphicon glyphicon-resize-full"></span></a>&nbsp;
                                <a class="btn" id="btn-zoom-out" onclick="ZoomOut()" style="display:none;"><span class="glyphicon glyphicon-resize-small"></span></a>&nbsp;
                                <div class="pull-right">
                                    <a class="btn btn-default div-button" onclick="DonwloadAll()"><span class="glyphicon glyphicon-download"></span>&nbsp; @languageSet.Label_DownloadAll</a>&nbsp;
                                    <a id="Button_Download" class="btn btn-default div-button" onclick="Download()"><span class="glyphicon glyphicon-download"></span>&nbsp; @languageSet.Label_Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" id="pdfPreview">
                            <div style=" min-height: 980px;">
                                @*<h1 class="h1-title">Please click the level of the report you wish to view</h1>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<script>

        function Refresh() {
            $('#pdfPreview').load('/UserProjects/_PdfPreview', GetSearchInfo());
            ResetLogOutTimer();
        }


        function GetSearchInfo() {
            return {
                id: '@Model.Project.ID',
                metaname: GetHierarchy()
            }
        }

        function DonwloadAll() {
            location.href = "/DownloadAllReports?id=" + @Model.Project.ID;
        }

        function Download() {
            var data = GetSearchInfo();
            console.log(encodeURI(data.metaname));
            window.location.assign('@Url.Action("_GeneratePDF", "UserProjects")?id=' + data.id + "&metaname=" + encodeURIComponent(data.metaname) + "&download=true");
        }

        $(document).ready(function () {
            $('a.navbar-brand').hide();
            $('div#navbar').css('background-color', '@Model.Project.Color');
            $('div.footer').css('background-color', '@Model.Project.Color');

            @if (Model.Project.ShowHeaderLogo)
            {
                <text>
                if ('@Model.Project.LogoPath' != null) {
                    $('img#kabIcon').hide();
                    $('img#clientIcon_Header').attr('src', '@Model.Project.LogoPath');
                    $('img#clientIcon_Header').show();
                }
                else
                {
                    $('img#kabIcon').show();
                    $('img#clientIcon_Header').hide();
                }
                </text>
            }
            else
            {
                <text>
                $('img#kabIcon').hide();
                $('img#clientIcon_Header').hide();
                </text>
            }

            @if (Model.Project.ShowTitleLogo)
            {
                <text>
                if ('@Model.Project.TitleLogoPath' != null) {
                    $('img#kabIcon_title').hide();
                    $('img#clientIcon_title').attr('src', '@Model.Project.TitleLogoPath');
                    $('img#clientIcon_title').show();
                }
                else {
                    $('img#kabIcon_title').show();
                    $('img#clientIcon_title').hide();
                }
                </text>
            }
            else
            {
                <text>
                $('img#kabIcon_title').hide();
                $('img#clientIcon_title').hide();
                </text>
            }

            $('div#clientName').html('@Model.Project.Client').css('color', '@Model.Project.Color');
        });

        function GetData() {
            return {
                projectID: '@Model.Project.ID'
            };
        }

        function GetHierarchy() {
            var treeView = $('#HierarchyTreeView').data('kendoTreeView');
            var selected = treeView.select();
            return treeView.dataItem(selected) == undefined ? null : treeView.dataItem(selected).Metaname;
        }

        //function ResetTreeView() {
        //    var treeview = $('#HierarchyTreeView').data('kendoTreeView');
        //    var getItem = treeview.dataSource.get('');
        //    var selectItem = treeview.findByUid(getItem.uid);
        //    treeview.select(selectItem);
        //}

        function ClearSearchBoxAndRefresh() {
            $('#TB_ReportFilter').val('');
            Refresh();
        }

        function ZoomIn() {
            $('#btn-zoom-in').hide();
            $('#btn-zoom-out').show();
            $('.div-view-panel').hide();
            $('.div-pdf-panel').removeClass('col-sm-8').addClass('col-sm-12');
        }

        function ZoomOut() {
            $('#btn-zoom-in').show();
            $('#btn-zoom-out').hide();
            $('.div-view-panel').show();
            $('.div-pdf-panel').addClass('col-sm-8').removeClass('col-sm-12');
        }

</script>


<style>
    body {
        background-color: @(Model.Project.ProjectTheme.PageBackgroundColor ?? "#424242");
    }

    .div-button {
        background-color: @(Model.Project.ProjectTheme.ButtonColor ?? "#F2F2F2");
        color: @(Model.Project.ProjectTheme.ButtonTextColor ?? "#6A6A6A");
    }

    #HierarchyTreeView {
        background-color: @(Model.Project.ProjectTheme.TreeViewBackgroundColor ?? "#4D4D4D");
        color: @(Model.Project.ProjectTheme.TreeViewTextColor ?? "#E631DB");
    }

    .div-view-panel {
        background-color: @(Model.Project.ProjectTheme.ViewPanelBackgroundColor ?? "#474747");
    }

    h1, h2, h3, h4, h5 {
        color: white;
    }

    #div-title {
        text-align: @(Model.Project.ProjectTheme.TitleAlign ?? "left");
    }

    .h1-title {
        color: @(Model.Project.ProjectTheme.TitleColor ?? "White");
    }

    #HierarchyTreeView .k-state-selected {
        background-color: @(Model.Project.ProjectTheme.TreeViewSelectedBackgroundColor ?? "blue");
        color: @(Model.Project.ProjectTheme.TreeViewSelectedTextColor ?? "white");
    }
</style>