﻿
@{
    ViewBag.Title = "User Management";
}


<script>
    $(document).ready(function () {
        if (@ViewBag.ProjectID != '0') {
            $('#filterProjectID').val(@ViewBag.ProjectID).change();
        }
    })

    $("#TB_UserFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            SearchUsers();
        }
    });

    function SearchUsers() {
        var grid = $("#GridUsers").data("kendoGrid");
        grid.dataSource.read();
    }

    function OnOnlyAdminChange() {
        if ($('#CB_OnlyAdmin').is(':checked') == true) {
            $('#filterProjectID').data('kendoDropDownList').value('');
        }
        SearchUsers();
    }

    function OnProjectChange() {
        if ($('#filterProjectID').data('kendoDropDownList').value() != "") {
            $('#CB_OnlyAdmin').prop('checked', false);
        }
        SearchUsers();
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>User Management</h1>            
            <hr />
        </div>

        <div class="col-sm-4">
            <a class="btn btn-info" href="@Url.Action("Create")"><span class="glyphicon glyphicon-user"></span> &nbsp;Create New User</a>
        </div>
        <div class="col-sm-2">
            <div class="pull-right" style="margin-top:12px;">
                @(Html.Kendo().CheckBox().Name("CB_OnlyAdmin").Label("Show Only Admin").HtmlAttributes(new { @onclick = "OnOnlyAdminChange();" }))
            </div>
        </div>
        <div class="col-sm-2">
            @(Html.Kendo().DropDownList()
                                  .Name("filterProjectID")
                                  .OptionLabel("All Projects & Admins")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .DataSource(dataSource => dataSource.Read("DropDownProjects", "Projects"))
                                  .HtmlAttributes(new { @style = "width:100%; margin-top:5px;" })
                                  .Events(events => events.Change("OnProjectChange"))
            )
        </div>
        <div class="col-sm-4">

            <div class="input-group" style="margin-top:5px;">
                @Html.TextBox("TB_UserFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Email/Name" })                
                <span class="input-group-btn">
                    <a class="btn btn-sm btn-default" onclick="SearchUsers()" ><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<KABReport.Models.UserViewModel>()
                .Name("GridUsers")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.Email).Title("Email");
                    columns.Bound(u => u.FirstName).Title("First Name");
                    columns.Bound(u => u.LastName).Title("Last Name");
                    columns.Bound(u => u.Role).Title("Role");
                    columns.Bound(p => p.Confirmed).Title(" ").ClientTemplate("#if(Confirmed){#<span class='glyphicon glyphicon-ok' title='Confirmed'></span>#}#").Width("1%");
                    @*columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit") + "/#=ID#' class='btn btn-xs btn-inverse' >Edit</a>").Width("1%");*@
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ChangePassword") + "/#=ID#' class='btn btn-xs btn-warning'>Reset Password</a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='btn btn-xs btn-danger'>Delete</span>");
                    }
                    ).Width("1%");                    
                })
                .Sortable()
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this account?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);                    
                    })
                    //Pass the string in the textbox using the anonymously created function
                    .Read(read => read.Action("Read", "Users").Data("function() { return { filterText: $('#TB_UserFilter').val(), filterProjectID: $('#filterProjectID').val(), onlyAdmin: $('#CB_OnlyAdmin').is(':checked') }}"))
                    .Destroy(destory => destory.Action("Destroy", "Users"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
      background: inherit;
      color:inherit;
    }
 
    html .k-grid tr.k-alt:hover {
      background: #f5f5f5;
      color:inherit;
    }

</style>



