﻿@using KABReport.Models
@{
    ViewBag.Title = "Edit Language Options";
    Layout = "~/Views/Shared/_LayoutNoNavbar.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit Language Options</h2>
            <hr />
            <a class="btn btn-info btn-sm" onclick="$('#GridLanguages').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;">Add Language</a>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<LanguageViewModel>()
                    .Name("GridLanguages")
                    .Pageable(p => p.PageSizes(new[] { 20, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Languages").Empty("No Languages Added")))
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Name).Title("Name");
                        columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                            }
                        ).Width("90px");
                    })
                    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this language?"))
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Sort(sort => sort.Add("Name").Ascending()) // <-- initial sort expression
                        .Model(model =>
                        {
                            model.Id(l => l.ID);
                            model.Field(l => l.Name).Editable(true).DefaultValue("");
                        })
                        .Create(create => create.Action("Create", "Languages"))
                        .Read(read => read.Action("Read", "Languages")).PageSize(20)
                        .Update(update => update.Action("Update", "Languages"))
                        .Destroy(destroy => destroy.Action("Destroy", "Languages"))
                    )
                    .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>
