﻿@model Fruitful.Email.EmailSetting
@{
    ViewBag.Title = "Edit Email Settings";
}

<div id="divEdit" class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("Edit", "EmailSettings", FormMethod.Post))
            {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="row" style="margin:0px; padding:0px;">
                        <div class="col-sm-12"></div>
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.Password)
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-sm", @type="password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.Host)
                            @Html.TextBoxFor(model => model.Host, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.Port)
                            @Html.TextBoxFor(model => model.Port, new { @class = "form-control input-sm", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.Interval)
                            @Html.TextBoxFor(model => model.Interval, new { @class = "form-control input-sm", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Interval, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.Threshhold)
                            @Html.TextBoxFor(model => model.Threshhold, new { @class = "form-control input-sm", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Threshhold, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(model => model.EnableSSL)
                            @Html.CheckBoxFor(model => model.EnableSSL)
                            @Html.ValidationMessageFor(model => model.EnableSSL, "", new { @class = "text-danger" })
                            <br />

                        </div>
                        <div class="col-sm-12">
                            <hr />
                            @*<a class="btn btn-sm btn-inverse" data-toggle="modal" data-target="#myModal"><span class="fa fa-info"></span>&nbsp; Send a Testing Mail</a>*@
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                            @if (ViewBag.Saved != null)
                            {
                                <label id="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                                </script>
                            }
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Send a Testing Mail</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Send To: </label>
                        @Html.TextBox("emailTo", "", new { @style = "width:100%;", @id = "emailTo" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary" onclick="SendTest()"><span class="glyphicon glyphicon-send "></span>&nbsp; Send</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SendTest() {
        $.ajax({
            url: '/EmailSettings/SendTestMail',
            type: 'POST',
            data: {
                emailFrom: $('#Email').val(),
                password: $('#Password').val(),
                host: $('#Host').val(),
                port: $('#Port').val(),
                enableSSL: $('#EnableSSL').val(),
                emailTo: $('#emailTo').val()
            },
            success: function (response) {
                alert(response.Message);
                $('#myModal').modal('hide');
            }
        })
    }
</script>

