﻿
.banner-image {
    max-height: 600px; 
    min-height: 400px; 
    width: 100%; 
    height:auto;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image2 {

    position: relative;
    padding-bottom: 25%;
    height: 0;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image3 {
    
    padding-bottom: 25%;
    height: 100%;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.title-background{
    background-color: #3771c8;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top:30px;
    padding-bottom:30px;
}

.services-background{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:20px;
    padding-bottom:20px;
}

.backgroundHome{
    background-image: url("/Content/homebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.white-text{
     color:white;
}

.green-text{
     color:#b1e665;
}

.background2{
    padding-top:30px;
    padding-bottom:50px;
    text-align: center; 
    background-color: #3771c8;
    color:white;
}

.background3{
    padding-top:30px;
    padding-bottom:50px;
    text-align: center; 
    background-color: #8FBC51;
    color:white;
}

.videoWrapper {
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 35px;
	left: 35px;
	width: calc(100% - 70px);
	height: calc(100% - 70px);
}




/* Revised styles for SNAP-Suite */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

strong, .strong {
    font-weight: 600;
}

b, .b{
    font-weight: 700;
}

label {
    font-weight: 600;
}

input[readonly]
{
    background-color:grey;
}