﻿@using Microsoft.AspNet.Identity
@*@if (!Request.IsAuthenticated)
{*@
    <div class="footer">
        <div class="container">
            <div class="row" style="padding-top: 18px; vertical-align: middle;">
                <div class="col-xs-4">
                    <a style="color: white;" href="http://www.karianandbox.com/" target="_blank">
                        &copy; @DateTime.Now.Year - Karian & Box.
                    </a>
                </div>
            </div>
        </div>
    </div>
@*}*@

