﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KABReport</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/css")
    @Styles.Render("~/snap-suite/css")

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        kendo.culture("en-GB");
        $.validator.addMethod('date', function (value, element) { return this.optional(element) ||  kendo.parseDate(value) });
    </script>

    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">*@
    <link rel="stylesheet" href="/Content/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/Content/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <link rel="stylesheet" href="/Content/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    @*FacneyBox scripts*@
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });

        $(document).ready(function () {
            $('.fancybox-media').fancybox();
        });
    </script>

</head>
<body>    
    <div class="wrapper">
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
