﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="revisit-after" content="7 days" />
    <title>@ViewBag.Title | KABReport</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/css")
    @Styles.Render("~/snap-suite/css")

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        kendo.culture("en-GB");
        $.validator.addMethod('date', function (value, element) { return this.optional(element) ||  kendo.parseDate(value) });
    </script>
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">*@
    <link rel="stylesheet" href="/Content/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/Content/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="/Content/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    @*FancyBox scripts*@
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });

        $(document).ready(function () {
            $('.fancybox-media').fancybox();
        });
    </script>

	<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="height:52px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="kabIcon" src="~/Content/karian_and_box_logo_nav.svg" style="height:35px; margin-top: 7px; padding-left:10px;" />
                <img id="clientIcon_Header" style="max-height:35px; margin-top: 7px; padding-left:10px;" />
            </div>
            <div class="navbar-collapse collapse">
                @if(User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                { 
                    @Html.Partial("_LoginPartial")
                }
                else
                { 
                    @Html.Partial("_LoginPartialUser")
                }
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header"></div>
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_FooterPartial")
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
