﻿@using Microsoft.AspNet.Identity
@{
    KABReport.Models.LanguageSet languageSet = ViewBag.LanguageSet;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
    
    <ul class="nav navbar-nav navbar-right"> 
        @if (languageSet != null)
        {
            <li class="dropdown" style="padding:0; margin:0; margin-top:10px;">

                    @Html.Kendo().DropDownList().Name("Language").DataValueField("ID").DataTextField("Label").Events(e => e.Change("ChangeLanguage")).DataSource(source =>
                        {
                            source.Read(read => { read.Action("DropDownLanguages", "ProjectLanguages"); });
                        }).AutoBind(true).Value(@languageSet.LanguageID.ToString())
            </li>
        }
        <li class="dropdown">
            <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                <img style="max-height: 23px; margin-top: -4px; padding-right: 5px;" src="/Content/cog.png"><span class="caret"></span>
            </a>
            <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                @if(languageSet != null)
                { 
                    @*<li>@Html.ActionLink(@languageSet.Label_Hello + " " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>*@
                    <li style="padding:3px 20px;">@languageSet.Label_Hello @User.Identity.GetUserName()</li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="javascript:$('#logoutForm').submit()">@languageSet.Label_LogOff</a></li>
                }
                else
                {
                    @*<li>@Html.ActionLink("Hello " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>*@
                    <li style="padding:3px 20px;">Hello @User.Identity.GetUserName()</li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="javascript:$('#logoutForm').submit()">Log off</a></li>
                }
            </ul>
        </li>
        
    </ul>
    }

    <script>
        var INITIAL_LOG_OUT_TIME = 15 * 60;
        var LOG_OUT_TIMER = INITIAL_LOG_OUT_TIME;
        function ChangeLanguage() {
            $.ajax({
                url: "/Languages/ChangeLanguage",
                method: "post",
                data: {
                    languageLabel: $('#Language').data("kendoDropDownList").text()
                },
                success: function (result) {
                    location.reload();
                }
            });
        }

        // Log out automatically
        setInterval(function () {
            LogOutCountDown();
        }, 1000);

        function LogOutCountDown() {
            if (--LOG_OUT_TIMER <= 0) {
                $('#logoutForm').submit();
            }
        }

        function ResetLogOutTimer() {
            LOG_OUT_TIMER = INITIAL_LOG_OUT_TIME;
        }
    </script>

}
else
{
    <ul class="nav navbar-nav">
       
    </ul>

    if (TempData["HideLogin"] != null)
    {
    }
    else
    {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    }
}

