﻿@using Microsoft.AspNet.Identity
@{
    KABReport.Models.LanguageSet languageSet = ViewBag.LanguageSet;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
        { 
            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
        }
        else
        {

        }
    </ul>
    <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
            <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                <img style="max-height: 23px; margin-top: -4px; padding-right: 5px;" src="/Content/cog.png"><span class="caret"></span>
            </a>
            <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                @if (languageSet != null)
                {
                    <li>@Html.ActionLink(@languageSet.Label_Hello + " " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    @*<li role="presentation" class="divider"></li>
            <li>@Html.ActionLink("Manage User Accounts", "Index", "Users")</li>*@
                    <li role="presentation" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@languageSet.Label_LogOff</a></li>
                }
                else
                {
                    <li>@Html.ActionLink("Hello " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li role="presentation" class="divider"></li>
                    <li>@Html.ActionLink("Manage User Accounts", "Index", "Users")</li>
                    <li role="presentation" class="divider"></li>
                    <li>@Html.ActionLink("Language Sets", "Index", "LanguageSets")</li>
                    <li role="presentation" class="divider"></li>
                    <li>@Html.ActionLink("Email Settings", "Edit", "EmailSettings")</li>
                    <li role="presentation" class="divider"></li>
                    <li>@Html.ActionLink("Theme Settings", "Index", "ProjectThemeTemplates")</li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            </ul>
        </li>
        @*<li style="padding:0; margin:0; margin-top:10px;">
            <span class="btn btn-info">Language</span>
        </li>*@
        @if (languageSet != null)
        {
            <li class="dropdown" style="padding:0; margin:0; margin-top:10px;">

                    @Html.Kendo().DropDownList().Name("Language").DataValueField("ID").DataTextField("Label").Events(e => e.Change("ChangeLanguage")).DataSource(source =>
                        {
                            source.Read(read => { read.Action("DropDownLanguages", "ProjectLanguages"); });
                        }).AutoBind(true).Value(@languageSet.LanguageID.ToString())
            </li>
        }
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
       
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </ul>
}

<script>
    function ChangeLanguage() {
        $.ajax({
            url: "/Languages/ChangeLanguage",
            method: "post",
            data: {
                languageLabel: $('#Language').data("kendoDropDownList").text()
            },
            success: function (result) {
                location.reload();
            }
        });
    }
</script>