﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Access Denied";
}


@if(ViewBag.ErrorMessage != null)
{ 
    <h2 class="text-danger">@Html.Raw(@ViewBag.ErrorMessage)</h2>
}
else
{
    <h2 class="text-danger">Access Denied.</h2>
    <h3 class="text-danger">A problem has occurred while processing your request.</h3>
    <h3 class="text-danger">You may not have the access to this page.</h3>
}

