﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


@if(ViewBag.ErrorMessage != null)
{ 
    <h2 class="text-danger">@Html.Raw(@ViewBag.ErrorMessage)</h2>
}
else
{
    <h2 class="text-danger">Error.</h2>
    <h3 class="text-danger">A problem has occurred while processing your request. Ensure that you do not have multiple instances of the site open and try again.</h3>
    <h3 class="text-danger">Should the problem persist, please contact Karian & Box for further guidance.</h3>
}

