﻿@model KABReport.Models.ProjectViewModel
<script>

    $("#TB_LogFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
        RefreshActivityLogs();
        //}
    });

    function RefreshActivityLogs() {
        $("#GridActivities").data("kendoGrid").dataSource.read();
    }


    function AddLogInfo() {
        return {
            filterText: $('#TB_LogFilter').val(),
            projectID: @Model.ID,
            projectUserID: $("#DD_ProjectUser").data("kendoDropDownList").value()
        }
    }


</script>
<br />
<div class="row">
    <div class="col-xs-9">
        <h2>Activity Log</h2>
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideActivityLogs(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>
    <div class="col-xs-12">
        <hr />
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().DropDownList()
                .Name("DD_ProjectUser")
                .DataTextField("Name")
                .DataValueField("ID")
                .OptionLabel("All")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("DropDownProjectUsers", "Dropdowns", new { projectID = Model.ID }); });
                })
                .AutoBind(true)
                .Events(e => { e.Change("RefreshActivityLogs"); })
                .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>

    <div class="col-xs-8">
        <div class="input-group">
            @Html.TextBox("TB_LogFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description/User" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshActivityLogs(); return false;"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a>
            </span>
            @*<button class="btn btn-sm btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>*@
        </div>

    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<KABReport.Models.ActivityLogViewModel>()
                .Name("GridActivities")
                .ToolBar(x => x.Excel())
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Logs").Empty("No Activities Logs Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Timestamp).Title("Timestamp").Format("{0:HH:mm dd/MM/yy}").Width("130px");
                    columns.Bound(p => p.Username).Title("Email");
                    columns.Bound(p => p.FirstName);
                    columns.Bound(p => p.LastName);
                    columns.Bound(p => p.IPAddress);
                    columns.Bound(u => u.Description).Title("Description").Width("50%");
                })
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "ActivityLogsGrid").Data("AddLogInfo")).PageSize(50)
                )
                .Excel(ex => ex.AllPages(true).FileName("ActivityLogs"))
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>


