﻿@model KABReport.Models.ProjectViewModel

<script>

    $("#TB_GridEmailFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
        RefreshGridEmails();
        //}
    });

    function RefreshGridEmails() {
        $("#GridEmails").data("kendoGrid").dataSource.read();
    }


    function AddLogInfo() {
        return {
            filterText: $('#TB_GridEmailFilter').val(),
            projectID: @Model.ID,
            projectUserID: $("#DD_ProjectUser").data("kendoDropDownList").value(),
            showUnSent: $('#CB_ShowUnsent').is(':checked')
        }
    }

</script>
<br />
<div class="row">
    <div class="col-xs-9">
        <h2>Email Campaign</h2>
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideEmailCampaign(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>
    <div class="col-xs-12">
        <hr />
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().DropDownList()
                .Name("DD_ProjectUser")
                .DataTextField("Name")
                .DataValueField("ID")
                .OptionLabel("All")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("DropDownProjectUsers", "Dropdowns", new { projectID = Model.ID }); });
                })
                .AutoBind(true)
                .Events(e => { e.Change("RefreshGridEmails"); })
                .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            @Html.TextBox("TB_GridEmailFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description/User" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshGridEmails(); return false;"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a>
            </span>
            @*<button class="btn btn-sm btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>*@
        </div>

    </div>
    <div class="col-xs-2">
        <div class="pull-right" style="margin-top:12px;">
            @(Html.Kendo().CheckBox().Name("CB_ShowUnsent").Label("Show Unsent").HtmlAttributes(new { @onclick = "RefreshGridEmails();" }))
        </div>
    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<KABReport.Models.EmailQueueViewModel>()
                .Name("GridEmails")
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Emails").Empty("No Emails Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.ID).Hidden();
                    columns.Bound(p => p.EmailAddressTo).Title("Email");
                    columns.Bound(p => p.ExpectedSendingTime).Format("{0:dd/MM/yy HH:mm}").Width("130px");
                    columns.Bound(p => p.SendingTime).ClientTemplate("#if(SendingTime != null){# #=kendo.toString(SendingTime, 'dd/MM/yy HH:mm')# #}#").Width("130px");
                    columns.Bound(p => p.Title);
                    columns.Bound(u => u.Message).Encoded(false).EditorTemplateName("EmailMessageTextHtmlEditor").Width("50%");
                    columns.Command(commands =>
                    {
                        commands.Edit().Text("<span class='glyphicon glyphicon-btn glyphicon-edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        commands.Destroy().Text("<span class='glyphicon glyphicon-btn glyphicon-trash' />");
                    }).Width("90px");
                })
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.SendingTime).Editable(false);
                    })
                    .Read(read => read.Action("Read", "EmailQueueGrid").Data("AddLogInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "EmailQueueGrid"))
                    .Destroy(destroy => destroy.Action("Destroy", "EmailQueueGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>


