﻿@model KABReport.Models.FTPInfoViewModel
<div class="row">
    <div class="col-sm-12">
        <table style="width:100%;">
            <tr>
                <td style="vertical-align:middle">
                    @Html.LabelFor(model => model.Host):
                </td>
                <td style="vertical-align:middle">
                    <label style="margin-left:10px;">@Html.ValueFor(model => model.Host)</label>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:middle">
                    @Html.LabelFor(model => model.Username):
                </td>
                <td style="vertical-align:middle">
                    <label style="margin-left:10px;">@Html.ValueFor(model => model.Username)</label>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:middle">
                    @Html.LabelFor(model => model.Password):
                </td>
                <td style="vertical-align:middle">
                    <label style="margin-left:10px;">@Html.ValueFor(model => model.Password)</label>
                </td>
            </tr>
        </table>
    </div>
</div>