﻿@using KABReport.Models
@model KABReport.Models.ProjectViewModel
@{
    ViewBag.Title = string.Format("Edit Project: {0}", Model.Name);
}
<div id="uploadProgress" class="panel panel-primary btn-background" style="display:none; z-index: 2010">
    <img src="~/Content/loading.gif" class="center-block" style="height:50px; position:absolute; top:50%; left:50%; margin-top:-25px; margin-left:-25px;" />
</div>
@using (Html.BeginForm("EditProject", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Created)
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null || TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (ViewBag.ErrorMessage != null || TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2>Edit Project</h2>
            </div>
            <div class="col-sm-6">
                <br />
                <a class="btn btn-default hidden-xs" style="float:right" href="~/Projects/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Projects</a>
            </div>
            <div id="div_Body" class="col-sm-12">
                <hr />
                <table>
                    <tr>
                        <td style="width:100px;"><label>Title:</label></td>
                        <td colspan="2">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Client:</label></td>
                        <td colspan="2">
                            @Html.TextBoxFor(model => model.Client, new { @class = "form-control", @placeholder = "Client", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px;"><label>Page Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control", @placeholder = "Page Title", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.PageTitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Default Color:</label></td>
                        <td colspan="2">
                            @Html.Kendo().ColorPickerFor(model => model.Color).Events(@<text>@Model.Color = e.value;</text>)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Theme:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.ProjectThemeTemplateID)
                                                .DataValueField("ID")
                                                .DataTextField("Name")
                                                .DataSource(dataSource =>
                                                    dataSource.Read("DropDownThemes", "DropDowns")
                                                )
                                                .Value(Model.ProjectThemeTemplateID.ToString())
                            )
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Show Header Logo:</label></td>
                        <td colspan="2">
                            @(Html.Kendo().CheckBoxFor(model => model.ShowHeaderLogo).Checked(Model.ShowHeaderLogo))
                        </td>
                    </tr>
                    <tr>
                        <td><label>Header Logo:</label></td>
                        <td>
                            @if (Model.LogoPath != null)
                            {

                                <a target="_blank" href="@Model.LogoPath" title="@Model.LogoPath" download="@Model.LogoPath">
                                    <img src="@Model.LogoPath" width="50" height="50" />
                                </a>
                                <span class="input-group-btn" style="display:inline-block; padding-left:10px;">
                                    <input type="submit" name="Remove" value="Remove" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this logo?');" />
                                </span>


                            }
                            else
                            {
                                <div class="input-group" style="width:100px">
                                    <div class="form-control">
                                        <input id="logoImg" type="file" name="logoImg" style="display:inline-block" />
                                    </div>
                                    <span class="input-group-btn">
                                        <input type="submit" value="Upload" class="btn btn-warning btn-sm" />
                                    </span>
                                </div>
                            }
                        </td>
                    </tr>
                    
	                <tr>
                        <td style="width:80px;"><label>Show Title Logo:</label></td>
                        <td colspan="2">
                            @(Html.Kendo().CheckBoxFor(model => model.ShowTitleLogo).Checked(Model.ShowTitleLogo))
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title Logo:</label></td>
                        <td>
                            @if (Model.TitleLogoPath != null)
                            {

                                <a target="_blank" href="@Model.TitleLogoPath" title="@Model.TitleLogoPath" download="@Model.TitleLogoPath">
                                    <img src="@Model.TitleLogoPath" width="50" height="50" />
                                </a>
                                <span class="input-group-btn" style="display:inline-block; padding-left:10px;">
                                    <input type="submit" name="RemoveTitleLogo" value="Remove" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this logo?');" />
                                </span>


                            }
                            else
                            {
                                <div class="input-group" style="width:100px">
                                    <div class="form-control">
                                        <input id="titleLogoImg" type="file" name="titleLogoImg" style="display:inline-block" />
                                    </div>
                                    <span class="input-group-btn">
                                        <input type="submit" value="Upload" class="btn btn-warning btn-sm" />
                                    </span>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label>Enabled:</label></td>
                        <td>
                            @Html.Kendo().CheckBoxFor(model => model.Enabled)
                        </td>
                    </tr>
                </table>
                <br/>
                <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                @if (ViewBag.Saved != null)
                {
                    <br/>
                    <label id="l_Saved" class="navbar-text"><strong>Details Saved!</strong></label>
                    <script>
                        setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                    </script>
                }
                <hr />
            </div>
            <div class="col-sm-12">
                <br />

            </div>
        </div>
    </div>    
}
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Hierarchy List</strong>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("UploadHierarchies/" + Model.ID, "ProjectImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            if (Model.HierarchyUploaded)
                            {
                                
                                <div id="hierarchyView">
                                    <a class="btn btn-hierarchy btn-sm" href='@Url.Action("ProjectHierarchies", "Projects", Model)'><span class="glyphicon glyphicon-search"></span>&nbsp;View Hierarchies</a>
                                    <a class="btn btn-hierarchy btn-sm" onclick="$('#hierarchyForm').show(); $('#hierarchyView').hide();"><i class="fa fa-upload"></i>&nbsp;Re-Upload Hierarchies</a>
                                </div>
                                <div id="hierarchyForm" style="display:none">
                                    <div class="input-group">
                                        <input id="hierarchyFile" class="form-control" type="file" name="hierarchyFile" />
                                        <div class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-hierarchy btn-sm" onclick="return ValidUpload('hierarchyFile');" />
                                            <a class="btn btn-danger btn-sm" onclick="$('#hierarchyForm').hide(); $('#hierarchyView').show();">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="input-group">
                                    <input id="hierarchyFile" class="form-control" type="file" name="hierarchyFile" />
                                    <span class="input-group-btn">
                                        <input type="submit" value="Upload" class="btn btn-hierarchy btn-sm" onclick="return ValidUpload('hierarchyFile');" />
                                    </span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>Report List</strong>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("UploadReportList/" + Model.ID, "ProjectImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            if (Model.ReportListUploaded)
                            {                                
                                <div id="reportListView">
                                    <a class="btn btn-reports btn-sm" href='@Url.Action("ProjectReports", "Projects", Model)'><span class="glyphicon glyphicon-search"></span>&nbsp;View List & Upload Reports</a>
                                    <a class="btn btn-reports btn-sm" onclick="$('#reportListForm').show(); $('#reportListView').hide();"><i class="fa fa-upload"></i>&nbsp;Re-Upload Report List</a>
                                </div>
                                <div id="reportListForm" style="display:none">
                                    <div class="input-group">
                                        <input id="reportListFile" class="form-control" type="file" name="reportListFile" style="display:inline-block" />
                                        <div class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-reports btn-sm" onclick="return ValidUpload('reportListFile');" />
                                            <a class="btn btn-danger btn-sm" onclick="$('#reportListForm').hide(); $('#reportListView').show();">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (Model.HierarchyUploaded)
                                {

                                    <div class="input-group">
                                        <input id="reportListFile" class="form-control" type="file" name="reportListFile" style="display:inline-block" />
                                        <span class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-reports btn-sm" onclick="return ValidUpload('reportListFile');" />
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <input id="reportListFile" class="form-control" type="file" name="reportListFile" style="display:inline-block" />
                                        <span class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-reports btn-sm disabled" />
                                        </span>
                                    </div>
                                    <div class="pull-right text-danger">Please upload hierarchies first.</div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <strong>User List</strong>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("UploadUserList/" + Model.ID, "ProjectImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            if (Model.UserListUploaded)
                            {
                               
                                <div id="userListView">
                                    <a class="btn btn-primary btn-sm" href='@Url.Action("ProjectUsers", "Projects", Model)'><span class="glyphicon glyphicon-search"></span>&nbsp;View & Email Users</a>
                                    <a class="btn btn-primary btn-sm" href='@Url.Action("Index", "Users", Model)'><span class="glyphicon glyphicon-user"></span>&nbsp;Manage User Accounts</a>
                                    <a class="btn btn-primary btn-sm" onclick="$('#userListForm').show(); $('#userListView').hide();"><i class="fa fa-upload"></i>&nbsp;Re-Upload User List</a>
                                </div>
                                <div id="userListForm" style="display:none">
                                    <div class="input-group">
                                        <input id="userListFile" class="form-control" type="file" name="userListFile" />
                                        <div class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-primary btn-sm" onclick="return ValidUpload('userListFile');" />&nbsp;
                                            <a class="btn btn-danger btn-sm" onclick="$('#userListForm').hide(); $('#userListView').show();">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                
                                if (Model.ReportListUploaded)
                                {
                                    <div class="input-group">
                                        <input id="userListFile" class="form-control" type="file" name="userListFile" style="display:inline-block" />
                                        <span class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-primary btn-sm" onclick="return ValidUpload('userListFile');" />
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <input id="userListFile" class="form-control" type="file" name="userListFile" style="display:inline-block" />
                                        <span class="input-group-btn">
                                            <input type="submit" value="Upload" class="btn btn-info btn-sm disabled" />
                                        </span>
                                    </div>
                                    <div class="pull-right text-danger">Please upload report list first.</div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        

        

        @*@using (Html.BeginForm("UploadReports/" + Model.ID, "ProjectImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            @Html.AntiForgeryToken()
            <div class="col-sm-3">
                <br />
                @if (Model.ReportListUploaded)
                {
                    <div class="input-group">
                        <input class="form-control" id="reportFiles" type="file" multiple="multiple" name="reportFiles" style="display:inline-block" />
                        <span class="input-group-btn">
                            <input type="submit" value="Upload" class="btn btn-success btn-sm " onclick="return ValidUpload('reportFiles');" />
                        </span>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input class="form-control" id="reportFiles" type="file" multiple="multiple" name="reportFiles" style="display:inline-block" />
                         <span class="input-group-btn">
                            <input type="submit" value="Upload" class="btn btn-success btn-sm disabled"/>
                        </span>     
                    </div>
                    <div class="pull-right text-danger">Please declare reports first.</div>
                }
            </div>
        }*@

        
        </div>
    </div>
    <br/>
    @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Animation(animation => 
              animation.Open(effect => 
                  effect.Fade(FadeDirection.In)))
          .Items(tabstrip =>
          {
            tabstrip.Add().Text("Guidances")
            .Selected(true)
            .Content(
                @<text>    
                    <div class="row" style="margin:0;">
                        <div class="col-sm-12">
                            <a class="btn btn-info btn-sm" style="margin-bottom:5px" onclick="$('#GridGuidances').data('kendoGrid').addRow(); return false;">Add New Guidance</a>
                            @*<a class="btn btn-default btn-xs" onclick="window.open('@(Url.Action("EditLanguageOptions", "Settings"))', 'EditOptions', 'width=500, height=600').focus(); return false;" style="float:right;">Edit Languages</a>*@
                            @(Html.Kendo().Grid<ProjectGuidanceViewModel>()
                                        .Name("GridGuidances")
                                .Pageable(p => p.PageSizes(new[] { 100 }).Messages(m => m.Display("{0} - {1} of {2} Guidances").Empty("No Guidance Added")))
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.Language).Title("Languages").ClientTemplate("#=Language.Name#").EditorTemplateName("LanguageDropDown");
                                    columns.Bound(p => p.Text).Title("Text").ClientTemplate("<div style='width: 950px; height:50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'>#=Text#</div>").EditorTemplateName("GuidanceTextHtmlEditor");
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                                    }
                                    ).Width("90px");
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this guidance?"))
                                .Sortable()
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Sort(sort => sort.Add("Language.Name").Ascending()) // <-- initial sort expression
                                    .Model(model =>
                                    {
                                        model.Id(l => l.ID);
                                        model.Field(l => l.ID).Editable(false);
                                        model.Field(l => l.ProjectID).Editable(false).DefaultValue(Model.ID);
                                        model.Field(l => l.Language).Editable(true).DefaultValue(new LanguageViewModel { ID = 0, Name = "" });
                                        model.Field(l => l.Text).Editable(true);
                                    })
                                    .Create(create => create.Action("Create", "ProjectGuidances"))
                                    .Read(read => read.Action("Read", "ProjectGuidances", new { cID = Model.ID })).PageSize(9999)
                                    .Update(update => update.Action("Update", "ProjectGuidances"))
                                    .Destroy(destroy => destroy.Action("Destroy", "ProjectGuidances"))
                                )
                                .Events(events => events.DataBound("KendoGridDataboundSmall"))
                            )
                        </div>
                    </div>
                </text>);
            tabstrip.Add().Text("Email Templates")
            .Content(
                @<text>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-12">
                            <a class="btn btn-info btn-sm" style="margin-bottom:5px" onclick="$('#GridEmailTemplates').data('kendoGrid').addRow(); return false;">Add New Template</a>
                            @*<a class="btn btn-default btn-xs" onclick="window.open('@(Url.Action("EditLanguageOptions", "Settings"))', 'EditOptions', 'width=500, height=600').focus(); return false;" style="float:right;">Edit Languages</a>*@
                            @(Html.Kendo().Grid<ProjectEmailTemplateViewModel>()
                                .Name("GridEmailTemplates")
                                .Pageable(p => p.PageSizes(new[] { 100 }).Messages(m => m.Display("{0} - {1} of {2} Templates").Empty("No Template Added")))
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.Language).Title("Languages").ClientTemplate("#=Language.Name#").EditorTemplateName("LanguageDropDown");
                                    columns.Bound(p => p.Title).Title("Title").Width("10%");
                                    columns.Bound(p => p.Template).Title("Template").ClientTemplate("<div style='width: 950px; height:50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'>#=Template#</div>").EditorTemplateName("EmailTemplateTextHtmlEditor").EditorViewData(new { Label = ViewBag.Label, LabelCount = ViewBag.LabelCount });
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                                    }
                                    ).Width("90px");
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this template?"))
                                .Sortable()
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Sort(sort => sort.Add("Language.Name").Ascending()) // <-- initial sort expression
                                    .Model(model =>
                                    {
                                        model.Id(l => l.ID);
                                        model.Field(l => l.ID).Editable(false);
                                        model.Field(l => l.ProjectID).Editable(false).DefaultValue(Model.ID);
                                        model.Field(l => l.Language).Editable(true).DefaultValue(new LanguageViewModel { ID = 0, Name = "" });
                                        model.Field(l => l.Template).Editable(true).DefaultValue("Hello {FIRSTNAME}: <br />" +
                                                                                                 "<br />" +
                                                                                                 "These are your reports on {PROJECTNAME}. <br />" +
                                                                                                 "<br />" +
                                                                                                 "Please click the link below for logging in our platform. <br />" +
                                                                                                 "<br />" +
                                                                                                 "{PROJECTURL} <br />" +
                                                                                                 "<br />" +
                                                                                                 "<strong>Username:</strong> {USERNAME} <br />" +
                                                                                                 "<strong>Password:</strong> {PASSWORD} <br />");
                                    })
                                    .Create(create => create.Action("Create", "ProjectEmailTemplates"))
                                    .Read(read => read.Action("Read", "ProjectEmailTemplates", new { cID = Model.ID })).PageSize(9999)
                                    .Update(update => update.Action("Update", "ProjectEmailTemplates"))
                                    .Destroy(destroy => destroy.Action("Destroy", "ProjectEmailTemplates"))
                                )
                                .Events(events => events.DataBound("KendoGridDataboundSmall"))
                            )
                        </div>
                    </div>
                </text>);
        })
    )


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews(); return false;" style="z-index:1105; display:none;"></a>
        
<script>
    //opener.Refresh();

    function Refresh() {
        $("#GridGuidances").data("kendoGrid").dataSource.read();
        $("#GridEmailTemplates").data("kendoGrid").dataSource.read();
    }
    function ShowProgress() {
        $("#uploadProgress").css("display", "block");
    }

    function ValidUpload(id) {
        var file = $("#" + id).val();
        if (file == "")
            return false;
        else {
            ShowProgress();
            return true;
        }
    }

</script>

<style>
    #div_Body table tr th, #div_Body table tr td {
        padding: 2px;
    }
    #div_Body table {
        width:100%;
    }

    .btn-hierarchy {
        color: white;
        background-color: #1b8db7;
        border-color: #1b8db7;
    }

    .btn-reports {
        color: white;
        background-color: mediumpurple;
        border-color: mediumpurple;
    }

</style>
