﻿@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Projects</h1>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-2">
            <a class="btn btn-inverse" href="@Url.Action("NewProject")"><span class="glyphicon glyphicon-file"></span>&nbsp;New Project</a>&nbsp;
        </div>
        <div class="col-xs-4">
            @(Html.Kendo().DropDownList()
                                  .Name("DD_CreatedBy")
                                  .DataTextField("Name")
                                  .DataValueField("ID")
                                  .OptionLabel("All")
                                  .Value((string)ViewBag.CurrentUserID)
                                  .DataSource(source => source.Read("DropDownAdmins", "Dropdowns"))
                                  .Events(events => events.Change("Refresh"))
                                  .HtmlAttributes(new { @class = "pull-right", style = "width: 200px" })
            )
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_ProjectFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name, or Client" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>&nbsp;
                @*<a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>*@
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<KABReport.Models.ProjectViewModel>()
                        .Name("GridProjects")
                        .HtmlAttributes(new { style = "min-width: 500px" })
                        .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Projects").Empty("No Projects Found")))
                        .Columns(columns =>
                        {
                            //columns.Bound(p => p.LogoPath).Title("Logo").ClientTemplate("<a target='_blank' href='#=LogoPath#' download='#=LogoPath#'><img src='#=LogoPath#' width='50' height='50' /></a>").Width("3%");
                            columns.Bound(p => p.Client).Title("Client");
                            columns.Bound(p => p.Name).Title("Name").ClientTemplate("<a href='" + @Url.Action("EditProject") + "/#=ID#'><strong>#=Name#</strong></a>");
                            //columns.Bound(p => p.Color).Title("Color").ClientTemplate("<div style='background-color:#=Color#'>&nbsp</div>").Width("3%");
                            columns.Bound(p => p.CreatedBy).Title("Created By").Width("15%");
                            columns.Bound(p => p.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("5%");
                            columns.Bound(p => p.Enabled).Title("Enabled").ClientTemplate("#if(Enabled){# <i class='glyphicon glyphicon-ok'/> #}#").HtmlAttributes(new { @class="div-inline"}).Width("1%");
                            columns.Template(@<text></text>).ClientTemplate("<a href='" + @Url.Action("EditProject") + "/#=ID#'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                            columns.Command(command =>
                            {
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                            }
                            ).Width("1%");
                        })
                        .Sortable()
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this project?"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(sort => sort.Add("Created").Descending()) // <-- initial sort expression
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                            })
                            .Read(read => read.Action("Read", "ProjectGrid").Data("GetSearchInfo")).PageSize(50)
                            .Destroy(destory => destory.Action("Destroy", "ProjectGrid"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<script>

    function Refresh() {
        var grid = $("#GridProjects").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProjectFilter').val(),
            createdBy: $('#DD_CreatedBy').data("kendoDropDownList").value()
        }
    }

    $("#TB_ProjectFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewProject() {
        var url = '@Url.Action("NewProject", "Projects")';
        window.open(url, 'NewProject', 'width=1200, height=800').focus(); return false;
    }

    function EditProject(id) {
        var url = '@Url.Action("EditProject", "Projects")' + '?ID=' + id;
        window.open(url, 'EditProject' + id, 'width=1200, height=800').focus(); return false;
    }


</script>


