﻿@model KABReport.Models.ProjectViewModel
@{
    ViewBag.Title = "New Project";
}

@using (Html.BeginForm("NewProject", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null || TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (ViewBag.ErrorMessage != null || TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
        <div id="div_Body" class="row">
            <div class="col-sm-6">
                <h2>New Project</h2>
                <hr />
            </div>
            <div class="col-sm-6">
                <br />
                <a class="btn btn-default hidden-xs" style="float:right" href="~/Projects/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Projects</a>
            </div>
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td style="width:100px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Client:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Client, new { @class = "form-control", @placeholder = "Client", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px;"><label>Page Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control", @placeholder = "Page Title", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.PageTitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Default Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.Color).Events(@<text>@Model.Color = e.value;</text>).Value("#708090")
                        </td>
                    </tr>
                    <tr>
                        <td><label>Theme:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.ProjectThemeTemplateID)
                                                          .DataValueField("ID")
                                                          .DataTextField("Name")
                                                          .DataSource(dataSource =>
                                                            dataSource.Read("DropDownThemes", "DropDowns")
                                                         )
                            )
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Show K&B Logo:</label></td>
                        <td colspan="2">
                            @(Html.Kendo().CheckBoxFor(model => model.ShowHeaderLogo).Checked(Model.ShowHeaderLogo))
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Show Title Logo:</label></td>
                        <td colspan="2">
                            @(Html.Kendo().CheckBoxFor(model => model.ShowTitleLogo).Checked(Model.ShowTitleLogo))
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Project" class="btn btn-inverse">
            </div>
        </div>
    </div>
}

<script>
    parent.Refresh();
</script>

<style>
    #div_Body table tr th, #div_Body table tr td {
        padding: 2px;
    }

    #div_Body table {
        width: 100%;
    }
</style>
