﻿@model KABReport.Models.ProjectViewModel

@{
    ViewBag.Title = "Project Hierarchies";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Projects Hierarchies</h1>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Projects/EditProject/@Model.ID"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Project</a>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_ProjectFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Metaname, Label name, or Structure Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<KABReport.Models.ProjectHierarchyViewModel>()
                .Name("GridProjects")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Hierarchies").Empty("No Hierarchies Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Metaname).Title("Metaname");
                    columns.Bound(p => p.InternalLabelName).Title("Label name (internal)");
                    columns.Bound(p => p.ExternalLabelName).Title("Label name (external)");
                    columns.Bound(p => p.StructureName).Title("Structure Name");
                    columns.Bound(p => p.Level).Title("Level");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("Created").Descending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read/" + Model.ID, "ProjectHierarchyGrid").Data("GetSearchInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<script>

    function Refresh() {
        var grid = $("#GridProjects").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProjectFilter').val(),
        }
    }
    
    $("#TB_ProjectFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });
    
</script>


