﻿@model KABReport.Models.ProjectViewModel

@{
    ViewBag.Title = "Project Users";
    var Label = (string[])ViewBag.Label;
    var LabelCount = (int)ViewBag.LabelCount;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 id="pageTitle">Project Users</h1>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Projects/EditProject/@Model.ID"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Project</a>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-default" onclick="$('#div_AdvancedSearch').css('display', 'block');"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</a>
            <a class="btn btn-default btn-sm" href='@Url.Action("Index", "Users", Model)'><span class="glyphicon glyphicon-user"></span>&nbsp;Manage User Accounts</a>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_UserFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Metaname, Email, First Name, Last Name, Role, Parent, or User Defined Fields" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row" id="div_AdvancedSearch" style="display:none">
        <div class="col-sm-12"><br /></div>
        <div class="col-sm-4">
            <label>Grade:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("searchGrades")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Placeholder("Select search grades...")
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownProjectGrades/" + Model.ID, "Dropdowns");
                      })
                      .ServerFiltering(true);
                  })
                  .Events(e => e.Change("OnMultiSelectChange"))
            )
        </div>
        <div class="col-sm-4">
            <label>Default Language:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("searchDefaultLanguages")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Placeholder("Select default languages...")
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownDefaultLanguages/" + Model.ID, "Dropdowns");
                      })
                      .ServerFiltering(true);
                  })
                  .Events(e => e.Change("OnMultiSelectChange"))
            )
        </div>
        <div class="col-sm-4">
            <label>Alignment:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("searchAlignments")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Placeholder("Select alignments...")
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownAlignments/" + Model.ID, "Dropdowns");
                      })
                      .ServerFiltering(true);
                  })
                  .Events(e => e.Change("OnMultiSelectChange"))
            )
        </div>
        <div class="col-sm-12"></div>
        <div class="col-sm-4">
            <label>Dist:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("searchDists")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Placeholder("Select dists...")
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownDists/" + Model.ID, "Dropdowns");
                      })
                      .ServerFiltering(true);
                  })
                  .Events(e => e.Change("OnMultiSelectChange"))
            )
        </div>
        <div class="col-sm-4">
            <label>Role:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("searchRoles")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Placeholder("Select roles...")
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownProjectRoles/" + Model.ID, "Dropdowns");
                      })
                      .ServerFiltering(true);
                  })
                  .Events(e => e.Change("OnMultiSelectChange"))
            )
        </div>
        
        @for (int i = 0; i < LabelCount; i++)
        {
            if (i % 3 == 0)
            {
                <div class="col-sm-12"></div>
            }
            <div class="col-sm-4">
                <label>@Label[i]:</label>
                @(Html.Kendo().MultiSelect()
                        .Name("searchUserDefined" + i)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Placeholder("Select...")
                        .AutoBind(false)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("DropDownProjectUserDefined/", "Dropdowns", new { @id = Model.ID, @labelNo = i });
                            })
                            .ServerFiltering(true);
                        })
                        .Events(e => e.Change("OnMultiSelectChange"))
                )
            </div>
        }
        <div class="col-sm-12">
            <br /><br />
            <a class="btn btn-danger" onclick="$('#div_AdvancedSearch').css('display', 'none');" style="float:right">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                 <a class="btn btn-sm btn-warning" onclick="$('#GridUsers').data('kendoGrid').addRow();"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add</a>&nbsp;
                 <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                 <a class="btn btn-sm btn-success" onclick="javascript: $('.k-grid-excel').click()"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; Export</a>&nbsp;
                 <a class="btn btn-sm btn-primary" onclick="Edit()"><span class="glyphicon glyphicon-envelope"></span>&nbsp; Email</a>
                 <a class="btn btn-sm btn-primary" onclick="ShowActivityLogs()"><span class="glyphicon glyphicon-search"></span>&nbsp; Activity Logs</a>
                 <a class="btn btn-sm btn-primary" onclick="ShowEmailCampaign()"><span class="glyphicon glyphicon-calendar"></span>&nbsp; Email Campaign</a>
                &nbsp;&nbsp;<label name="totalUserNumber"></label>
            </div>
        </div>

        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-info" onclick="SendToAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; Prepare to Send All</a>&nbsp;
                <a class="btn btn-sm btn-success" onclick="SendToSelected()"><span class="glyphicon glyphicon-check"></span>&nbsp; Prepare to Send Selected</a>&nbsp;
                <a class="btn btn-sm btn-warning" onclick="DoneEdit()"><span class="glyphicon glyphicon-ok"></span>&nbsp; Cancel</a>&nbsp;
                &nbsp;&nbsp;<label name="totalUserNumber"></label>
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<KABReport.Models.ProjectUserGridViewModel>()
                .Name("GridUsers")
                .HtmlAttributes(new { style = "min-width: 500px;" })
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of <span id=\"totalNumber\">{2}</span> Users").Empty("No Users Found")))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=UserID#' name='chk_grid'>").Width("25px").Hidden().Locked(true);
                    columns.Command(commands =>
                    {
                        commands.Edit().Text("<span class='glyphicon glyphicon-btn glyphicon-edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        commands.Destroy().Text("<span class='glyphicon glyphicon-btn glyphicon-trash' />");
                    }).Locked(true).Width("90px");
                    columns.Bound(p => p.MetanameIDs).Title("Metaname").ClientTemplate("#=Metaname#").EditorTemplateName("MetanameMultiSelect").EditorViewData(new { ProjectID = Model.ID }).Width("100px").Locked(true).Width("160px");
                    columns.Bound(p => p.Email).Title("Email").Width("300px").Locked(true);
                    columns.Bound(p => p.Password).Title("Password").Width("100px");
                    //columns.Bound(p => p.EmailContent).Title("Email Content").Encoded(false).Width("500px");
                    columns.Bound(p => p.LastLoginTime).ClientTemplate("#if(LastLoginTime){##=kendo.toString(kendo.parseDate(LastLoginTime), 'dd/MM/yyyy HH:mm')##}#").Width("130px");
                    columns.Bound(p => p.EmailExpectedSendingTime).Title("Expected Sending Time").ClientTemplate("#if(EmailExpectedSendingTime){##=kendo.toString(kendo.parseDate(EmailExpectedSendingTime), 'dd/MM/yyyy HH:mm')##}#").Width("160px");
                    columns.Bound(p => p.EmailSendingTime).Title("Actual Sending Time").ClientTemplate("#if(EmailSendingTime){##=kendo.toString(kendo.parseDate(EmailSendingTime), 'dd/MM/yyyy HH:mm')##}#").Width("140px");
                    columns.Bound(p => p.EmailsTotal).Title("Total Sent").Width("80px");
                    columns.Bound(p => p.Role).Title("Role").EditorTemplateName("RoleDropDown").Width("120px");
                    columns.Bound(p => p.FirstName).Title("First Name").Width("100px");
                    columns.Bound(p => p.LastName).Title("Last Name").Width("100px");
                    columns.Bound(p => p.DefaultLanguage).Title("Default Language").Width("130px");
                    columns.Bound(p => p.Grade).Title("Grade").Width("70px");
                    columns.Bound(p => p.Alignment).Title("Alignment").Width("100px");
                    columns.Bound(p => p.Dist).Title("Dist").Width("50px");
                    columns.Bound(p => p.Parent).Title("Parent").Width("100px");
                    columns.Bound(p => p.UserDefinedField1).Title(Label[0]).Width("130px").Visible(LabelCount >= 1);
                    columns.Bound(p => p.UserDefinedField2).Title(Label[1]).Width("130px").Visible(LabelCount >= 2);
                    columns.Bound(p => p.UserDefinedField3).Title(Label[2]).Width("130px").Visible(LabelCount >= 3);
                    columns.Bound(p => p.UserDefinedField4).Title(Label[3]).Width("130px").Visible(LabelCount >= 4);
                    columns.Bound(p => p.UserDefinedField5).Title(Label[4]).Width("130px").Visible(LabelCount >= 5);
                    columns.Bound(p => p.UserDefinedField6).Title(Label[5]).Width("130px").Visible(LabelCount >= 6);
                    columns.Bound(p => p.UserDefinedField7).Title(Label[6]).Width("130px").Visible(LabelCount >= 7);
                    columns.Bound(p => p.UserDefinedField8).Title(Label[7]).Width("130px").Visible(LabelCount >= 8);
                    columns.Bound(p => p.UserDefinedField9).Title(Label[8]).Width("130px").Visible(LabelCount >= 9);
                    columns.Bound(p => p.UserDefinedField10).Title(Label[9]).Width("140px").Visible(LabelCount >= 10);
                })
                .ToolBar(tool => tool.Excel())
                .Excel(excel => excel.AllPages(true).FileName(string.Format("{0}-UserList.xlsx", Model.Name)))
                .Sortable()
                .Scrollable(s => s.Height("500px"))
                .Resizable(r => r.Columns(true))
                .Reorderable(r => r.Columns(true))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("Metaname").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.LastLoginTime).DefaultValue(null).Editable(false);
                        model.Field(t => t.EmailExpectedSendingTime).DefaultValue(null).Editable(false);
                        model.Field(t => t.EmailSendingTime).DefaultValue(null).Editable(false);
                        model.Field(t => t.EmailsTotal).Editable(false);
                        model.Field(t => t.ProjectID).DefaultValue(Model.ID).Editable(false);
                        model.Field(t => t.DefaultLanguage).DefaultValue("English");
                    })
                    .Create(create => create.Action("Create", "ProjectUserGrid"))
                    .Read(read => read.Action("Read/" + Model.ID, "ProjectUserGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "ProjectUserGrid"))
                    .Destroy(destroy => destroy.Action("Destroy", "ProjectUserGrid"))
                    .Events(events => events.RequestEnd("GridUsersRequestEnd"))
                )
                .Events(events => events.DataBound("KendoGridDatabound").ExcelExport("OnExcelExport"))
                .AutoBind(false)
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<div id="SlideContent_Email" class="panel panel-default" style="z-index: 2010; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0%; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        @using (Html.BeginForm("EmailForm", "Projects", FormMethod.Post, new { id="emailForm"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            @Html.Hidden("idToSend")
            @Html.Hidden("sendToAll")
            @Html.Hidden("conditionFilterText")
            @Html.Hidden("conditionGrades")
            @Html.Hidden("conditionDefaultLanguages")
            @Html.Hidden("conditionAlignments")
            @Html.Hidden("conditionDists")
            @Html.Hidden("conditionRoles")
            @Html.Hidden("conditionUserDefined1")
            @Html.Hidden("conditionUserDefined2")
            @Html.Hidden("conditionUserDefined3")
            @Html.Hidden("conditionUserDefined4")
            @Html.Hidden("conditionUserDefined5")
            @Html.Hidden("conditionUserDefined6")
            @Html.Hidden("conditionUserDefined7")
            @Html.Hidden("conditionUserDefined8")
            @Html.Hidden("conditionUserDefined9")
            @Html.Hidden("conditionUserDefined10")

            <div class="row">
                <div class="col-sm-12">
                    <h3>Email Form</h3>
                    <hr />
                </div>
                <div class="col-sm-12">
                    <label>Send mails to&nbsp;<span style="color:red" id="totalCount"></span>&nbsp;user(s)</label><br />
                    <label>Select a template:</label>
                    @Html.Kendo().DropDownList().Name("Template").Template("#=Language.Name#-#=Title#").ValueTemplate("#=Language.Name#-#=Title#").DataValueField("Template").Events(e => e.Change("TemplateChange")).DataSource(source =>
                    {
                       source.Read(read =>
                       {
                           read.Action("DropDownEmailTemplates/" + Model.ID, "Dropdowns");
                       });
                    })
                    <br /><br />
                    <label>Title:</label><br />
                    @*@Html.TextBox("title", String.Format("Booking for {0} - {1}", Model.ClientName, Model.BookingDate.HasValue ? Model.BookingDate.Value.ToString("d MMM yyyy") : String.Empty), new { @class = "form-control", @style = "max-width:none" })<br />*@
                    @Html.TextBox("title", "", new { @class = "form-control", @style = "max-width:none" })<br />
                    <label>Message:</label><br />

                                        @(Html.Kendo().Editor()
                                  .Name("message")
                                  .HtmlAttributes(new { style = "height:200px; width:100%", aria_label = "editor" })
                                  .Encode(false)
                                  .Resizable(resizable => resizable.Content(true))
                                  .Tools(
                                        tools => tools.FontName()
                                                      .FontColor()
                                                      .FontSize()
                                                      .BackColor()
                                                      .Snippets(
                                                            snippets =>
                                                            {
                                                                snippets.Add("First Name", "{FIRSTNAME}");
                                                                snippets.Add("Last Name", "{LASTNAME}");
                                                                snippets.Add("Project Name", "{PROJECTNAME}");
                                                                snippets.Add("Project Url", "{PROJECTURL}");
                                                                snippets.Add("Password", "{PASSWORD}");
                                                                snippets.Add("Username", "{USERNAME}");
                                                                if (LabelCount > 0)
                                                                    snippets.Add(Label[0], "{" + Label[0].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 1)
                                                                    snippets.Add(Label[1], "{" + Label[1].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 2)        
                                                                    snippets.Add(Label[2], "{" + Label[2].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 3)        
                                                                    snippets.Add(Label[3], "{" + Label[3].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 4)        
                                                                    snippets.Add(Label[4], "{" + Label[4].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 5)        
                                                                    snippets.Add(Label[5], "{" + Label[5].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 6)        
                                                                    snippets.Add(Label[6], "{" + Label[6].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 7)
                                                                    snippets.Add(Label[7], "{" + Label[7].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 8)
                                                                    snippets.Add(Label[8], "{" + Label[8].Replace(" ", string.Empty).ToUpper() + "}");
                                                                if (LabelCount > 9)
                                                                    snippets.Add(Label[9], "{" + Label[9].Replace(" ", string.Empty).ToUpper() + "}");
                                                            })
                                  )
                                        )

                    <br />
                    <br />
                    <label>Sending Time:</label><br />
                    @Html.Kendo().DateTimePicker().Name("emailSendingTime").Min(DateTime.Today.ToString()).Value(DateTime.Now)<br />
                    <br />
                    <input type="submit" value="Send Email" class="btn btn-primary" />
                </div>
              
            </div>            
        }
    </div>
</div>

<a id="Button_Close_ActivityLog" class="btn btn-background" onclick="HideActivityLogs(); return false;" style="z-index:4105; display:none;"></a>

<div id="SlideContent_ActivityLogs" class="panel panel-default" style="z-index: 4110; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1400px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
    </div>
</div>

<a id="Button_Close_EmailCampaign" class="btn btn-background" onclick="HideEmailCampaign(); return false;" style="z-index:4105; display:none;"></a>

<div id="SlideContent_EmailCampaign" class="panel panel-default" style="z-index: 4110; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1400px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
    </div>
</div>

<script>

    function OnExcelExport(e) {
        var sheet = e.workbook.sheets[0];
        var template = kendo.template(this.columns[2].template);
        var data = this.dataSource.view();

        for (var i = 0; i < data.length; i++) {
            sheet.rows[i + 1].cells[0].value = template(data[i]);
        }
    }

    function GridUsersRequestEnd(e) {
        if (e.type != 'read') {
            $("#GridUsers").data("kendoGrid").dataSource.read();
        }
    }

    function Refresh() {
        var grid = $("#GridUsers").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        $.when(grid.dataSource.read()).then(UpdateTotalNumber);
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_UserFilter').val(),
            searchGrades: $("#searchGrades").data("kendoMultiSelect").value(),
            searchDefaultLanguages: $("#searchDefaultLanguages").data("kendoMultiSelect").value(),
            searchAlignments: $("#searchAlignments").data("kendoMultiSelect").value(),
            searchDists: $("#searchDists").data("kendoMultiSelect").value(),
            searchRoles: $("#searchRoles").data("kendoMultiSelect").value(),
            searchUserDefined1: @LabelCount > 0 ? $("#searchUserDefined0").data("kendoMultiSelect").value() : [],
            searchUserDefined2: @LabelCount > 1 ? $("#searchUserDefined1").data("kendoMultiSelect").value() : [],
            searchUserDefined3: @LabelCount > 2 ? $("#searchUserDefined2").data("kendoMultiSelect").value() : [],
            searchUserDefined4: @LabelCount > 3 ? $("#searchUserDefined3").data("kendoMultiSelect").value() : [],
            searchUserDefined5: @LabelCount > 4 ? $("#searchUserDefined4").data("kendoMultiSelect").value() : [],
            searchUserDefined6: @LabelCount > 5 ? $("#searchUserDefined5").data("kendoMultiSelect").value() : [],
            searchUserDefined7: @LabelCount > 6 ? $("#searchUserDefined6").data("kendoMultiSelect").value() : [],
            searchUserDefined8: @LabelCount > 7 ? $("#searchUserDefined7").data("kendoMultiSelect").value() : [],
            searchUserDefined9: @LabelCount > 8 ? $("#searchUserDefined8").data("kendoMultiSelect").value() : [],
            searchUserDefined10: @LabelCount > 9 ? $("#searchUserDefined9").data("kendoMultiSelect").value() : []
        }
    }

    $("#TB_UserFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function OnMultiSelectChange(e) {
        Refresh();
    }

    function Email() {
        $('#emailSendingTime').data("kendoDateTimePicker").value(new Date());
        $('#Template').data("kendoDropDownList").trigger('change');
        $("#SlideContent_Email").animate({ width: '80%' }, { queue: false, duration: 300 });
        $("#SlideContent_Email").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function HideViews() {
        $("#SlideContent_Email").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Email").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function Edit() {
        var grid = $("#GridUsers").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').css("display", "none");
            $('#divEdit').css("display", "block");
            $('#pageTitle').text('Send Emails');
            grid.showColumn(0);
            grid.hideColumn(1);
        }
    }

    function DoneEdit() {
        var grid = $("#GridUsers").data("kendoGrid");
        $('#divPager').css("display", "block");
        $('#divEdit').css("display", "none");
        $('#pageTitle').text('Project Users');
        grid.hideColumn(0);
        grid.showColumn(1);
    }

    function SendToAll() {
        if ($("#totalNumber").html() == undefined) return alert("Empty list");
        $("#totalCount").html($("#totalNumber").html());
        var searchInfo = GetSearchInfo();
        $("#sendToAll").val(true);
        $("#conditionFilterText").val(searchInfo.filterText);
        $("#conditionAlignments").val(searchInfo.searchAlignments);
        $("#conditionDefaultLanguages").val(searchInfo.searchDefaultLanguages);
        $("#conditionDists").val(searchInfo.searchDists);
        $("#conditionGrades").val(searchInfo.searchGrades);
        $("#conditionRoles").val(searchInfo.searchRoles);
        $("#conditionUserDefined1").val(searchInfo.searchUserDefined1);
        $("#conditionUserDefined2").val(searchInfo.searchUserDefined2);
        $("#conditionUserDefined3").val(searchInfo.searchUserDefined3);
        $("#conditionUserDefined4").val(searchInfo.searchUserDefined4);
        $("#conditionUserDefined5").val(searchInfo.searchUserDefined5);
        $("#conditionUserDefined6").val(searchInfo.searchUserDefined6);
        $("#conditionUserDefined7").val(searchInfo.searchUserDefined7);
        $("#conditionUserDefined8").val(searchInfo.searchUserDefined8);
        $("#conditionUserDefined9").val(searchInfo.searchUserDefined9);
        $("#conditionUserDefined10").val(searchInfo.searchUserDefined10);
        Email();
    }

    function SendToSelected() {
        var totalCount = 0;
        var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { totalCount += 1; return this.value; }).get().join();
        if (totalCount == 0) return alert("Empty list");
        $("#totalCount").html(totalCount);
        $("#idToSend").val(ids);
        $("#sendToAll").val(false);

        Email();
    }

    function TemplateChange(e) {
        var data = e.sender.dataSource._data[this.selectedIndex];
        if (data == undefined) return;
        $("#message").data("kendoEditor").value(data.Template);
        $("#title").val(data.Title);
    }

    function UpdateTotalNumber() {
        var totalNumber = $('#totalNumber').text() === '' ? 0 : $('#totalNumber').text();
        $("label[name='totalUserNumber']").html("<span style='color:red;'>" + totalNumber + "</span>" + " users found");
    }

    $(document).ready(function (e) {
        Refresh();
        $('#emailForm').submit(function (e) {
            if (!confirm("Are you sure you want to send email(s) to " + $('#totalCount').html() + " user(s) at " + $('#emailSendingTime').val() + "?"))
                return false;
            return true;
        })

        // Hide the grid tool bar
        $('.k-grid-toolbar').hide();
    })

    function ShowActivityLogs() {
        $("#SlideContent_ActivityLogs").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_ActivityLogs").fadeIn();
        $("#Button_Close_ActivityLog").fadeIn();

        $('#SlideContent_ActivityLogs .panel-body').load("@Url.Action("_ActivityLogs", "Projects", Model)");
    }

    function HideActivityLogs() {
        $("#SlideContent_ActivityLogs").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_ActivityLogs").fadeOut();
            $("#Button_Close_ActivityLog").fadeOut();
            $('#SlideContent_ActivityLogs .panel-body').empty();
        }, 300);
    }

    function ShowEmailCampaign() {
        $("#SlideContent_EmailCampaign").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EmailCampaign").fadeIn();
        $("#Button_Close_EmailCampaign").fadeIn();

        $('#SlideContent_EmailCampaign .panel-body').load("@Url.Action("_EmailCampaign", "Projects", Model)");
    }

    function HideEmailCampaign() {
        $("#SlideContent_EmailCampaign").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EmailCampaign").fadeOut();
            $("#Button_Close_EmailCampaign").fadeOut();
            $('#SlideContent_EmailCampaign .panel-body').empty();
        }, 300);
    }

</script>


