﻿@model KABReport.Models.ProjectViewModel

@{
    ViewBag.Title = "Report Management";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="successMessage" class="alert alert-success" style = "display:none;">
            </div>
            <div id="errorMessage" class="alert alert-danger" style = "display:none;">
            </div>
            <div id="errorMessage2" class="alert alert-danger" style="display:none;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Report Management</h1>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Projects/EditProject/@Model.ID"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Project</a>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        @*@using (Html.BeginForm("UploadReports/" + Model.ID, "ProjectImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            @Html.AntiForgeryToken()
            <div class="col-xs-6">
                <div class="input-group" >
                    <div class="form-control">
                        <input id="reportFiles" type="file" multiple="multiple" name="reportFiles" style="display:inline-block" />
                    </div>
                    <span class="input-group-btn">
                        <input type="submit" value="Upload Reports" class="btn btn-success btn-sm " />
                    </span>
                </div>
            </div>
        }*@
        <div class="col-xs-6">
            @(Html.Kendo().Upload()
                          .Name("reportFiles")
                          .Async(a => a
                                    .Save("UploadReports/" + Model.ID, "ProjectImport")
                                    .AutoUpload(true)
                                    .AutoRetryAfter(10)
                                    .MaxAutoRetries(1000000)
                          )
                          .ShowFileList(false)
                          .Directory(true)
                          .Events(e => e.Select("OnSelect")
                                        .Upload("OnUpload")
                          )
                          .HtmlAttributes(new { @autocomplete="off" })
            )
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_ProjectFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Metaname, Type, Report File, or Report Label" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                 <a class="btn btn-sm btn-warning" onclick="$('#GridProjects').data('kendoGrid').addRow();"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add</a>&nbsp;
                 <a class="btn btn-sm btn-default" onclick="ScanReports()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                 <a class="btn btn-sm btn-success" onclick="javascript: $('.k-grid-excel').click()"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; Export</a>&nbsp;
                 <a class="btn btn-sm btn-primary" onclick="ChangeStatus('Uploaded')"><span class="glyphicon glyphicon-check filter-uploaded"></span>&nbsp; Uploaded</a>
                 <a class="btn btn-sm btn-danger" onclick="ChangeStatus('NotYet')"><span class="glyphicon glyphicon-check filter-notyet"></span>&nbsp; Not Yet</a>
                 <a class="btn btn-sm btn-inverse" onclick="GetFTPInfo()"><span class="fa fa-info"></span>&nbsp; FTP Info</a>
                 @(Html.Kendo().DropDownList()
                          .Name("DropDownReportTypes")
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .OptionLabel("All Types")
                          .DataSource(source => source.Read("DropDownReportType", "ProjectReportGrid"))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @class="pull-right"} )
                 )
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<KABReport.Models.ProjectReportViewModel>()
                .Name("GridProjects")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Reports").Empty("No Reports Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Metaname).Title("Metaname");
                    columns.Bound(p => p.Type).Title("Type");
                    columns.Bound(p => p.ReportFile).Title("Report File").ClientTemplate("#if(Uploaded == true) {#<a target='_blank' href='#=Path#'>#=ReportFile#</a><a href='\\#' title='Delete this report file' onclick='DeleteReportFile(#=ID#); return false;'><span style= 'font-size: 12px;' class='glyphicon glyphicon-btn glyphicon-trash' /></a>#} else {##=ReportFile##}#");
                    columns.Bound(p => p.ReportLabel).Title("Report Label").ClientTemplate("#if(Uploaded == true) {#<a target='_blank' href='#=Path#'>#=ReportLabel#</a>#} else {##=ReportLabel##}#");
                    columns.Bound(p => p.FileSize).Title("File Size");
                    columns.Bound(p => p.Uploaded).Title("Uploaded").ClientTemplate("#if(Uploaded == true) {#<span class='label label-primary'>Uploaded</span>#} else {#<span class='label label-danger'>&nbsp;&nbsp;Not Yet&nbsp;&nbsp;</span>#}#").Width("5%");
                    //columns.Template(@<text></text>).ClientTemplate("#if(Uploaded == true) {# <a href='\\#' title='Delete this report file' onclick='DeleteReportFile(#=ID#); return false;'><span class='glyphicon glyphicon-btn glyphicon-trash' /></a> #}#").Width("1%");
                    columns.Command(commands =>
                    {
                        commands.Edit().Text("<span class='glyphicon glyphicon-btn glyphicon-edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        commands.Destroy().Text("<span class='glyphicon glyphicon-btn glyphicon-trash' />");
                    }).Width("90px");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Sort(sort => sort.Add("Metaname").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ProjectID).DefaultValue(Model.ID);
                        model.Field(t => t.Type).DefaultValue("pdf");
                        model.Field(t => t.FileSize).Editable(false);
                        model.Field(t => t.Uploaded).Editable(false);
                    })
                    .Create(create => create.Action("Create", "ProjectReportGrid"))
                    .Read(read => read.Action("Read/" + Model.ID, "ProjectReportGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "ProjectReportGrid"))
                    .Destroy(destroy => destroy.Action("Destroy", "ProjectReportGrid"))
                    .Events(events => events.RequestEnd("ReportsGridRequestEnd").Error("ErrorHandler"))
                )
                .ToolBar(tool => tool.Excel())
                .Excel(excel => excel.AllPages(true).FileName(string.Format("{0}_reports", Model.Name)))
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>

<div id="UploadingScreen" class="btn btn-background" style="z-index:1105; display:none; "><img src="/Content/kendo/2017.2.621/none/loading-image.gif" class="centered" style="height:25px; width:100px;"/><p id="ProgressNumber" class="centered" style="padding-left:30px; padding-top:3px;"></p></div>

<!-- Modal -->
<div class="modal fade" id="myModal"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:650px;" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">FTP Info</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary" onclick="ScanReports()"><span class="glyphicon glyphicon-search "></span>&nbsp; Scan Files</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function ReportsGridRequestEnd(e) {
        if (e.type != 'read') {
            ScanReports();
        }
    }

    function ErrorHandler(e) {
        var errorMessage = '';
        $.each(e.errors, function (key, value) {
            if ('errors' in value) {
                $.each(value.errors, function () {
                    errorMessage += this + "\n";
                })
            }
        });
        alert(errorMessage);
    }

    function Refresh() {
        var grid = $("#GridProjects").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProjectFilter').val(),
            statusList: GetStatusList(),
            type: $('#DropDownReportTypes').data('kendoDropDownList').value()
        }
    }

    $("#TB_ProjectFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function ChangeStatus(status) {
        if (status == 'Uploaded') {
            $('.filter-uploaded').toggleClass('glyphicon-check glyphicon-unchecked');
        } else if (status == 'NotYet') {
            $('.filter-notyet').toggleClass('glyphicon-check glyphicon-unchecked');
        }

        Refresh();
    }

    function GetStatusList() {
        var statuses = [];
        if ($('.filter-uploaded').hasClass('glyphicon-check'))
            statuses.push(true);
        if ($('.filter-notyet').hasClass('glyphicon-check'))
            statuses.push(false);
        return statuses;
    }

    $(document).ready(function (e) {

        // Hide the grid tool bar
        $('.k-grid-toolbar').hide();
    })

    var successCount = 0;
    var failCount = 0;
    var failedFiles = [];
    var totalFiles = 0;
    var processingCount = 0;
    var pendingQueue = [];
    var threshold = 500;

    function OnComplete(e) {
        $('#successMessage').html((successCount - failedFiles.length) + ' reports have been successfully uploaded, ' + failedFiles.length + ' reports failed').show();
        if (failedFiles.length > 0) {
            $('#errorMessage').html('Can\'t match File(s): ' + failedFiles.join(', ')).show();
        }
        $('#UploadingScreen').hide();
        Refresh();
    }

    function OnSelect(e) {
        successCount = 0;
        failCount = 0;
        failedFiles = [];
        $('#UploadingScreen').show();

        console.log('total: ' + e.files.length);
        totalFiles = e.files.length;
        processingCount = 0;
        pendingQueue = [];
    }

    function OnUpload(e) {
        e.preventDefault();
        pendingQueue.push(e);
        Upload();
    }

    function Upload() {
        console.log("processing queue: " + processingCount + ", pending files: " + pendingQueue.length + ", success: " + successCount + ", fail: " + failCount);
        $('#ProgressNumber').html(((successCount / totalFiles) * 100).toFixed(2) + '%');
        if (processingCount >= threshold) {
            return;
        }
        if (pendingQueue.length <= 0)
            return;

        e = pendingQueue.pop();

        processingCount += 1;
        var formData = new FormData();
        formData.append('reportFiles', e.files[0].rawFile);
        $.ajax({
            url: '/ProjectImport/UploadReports/' + @Model.ID,
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                processingCount -= 1;
                successCount += 1;
                if (response.result != 'Success') {
                    failedFiles.push(response.FileName);
                }
                if (successCount != totalFiles) {
                    Upload();
                } else {
                    OnComplete(e);
                }

            },
            error: function (response) {
                pendingQueue.push(e);
                failCount += 1;
                processingCount -= 1;
                Upload();
            }
        })
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;

            // File size is not available in all browsers
            //if (file.size > 0) {
            //    info += " (" + Math.ceil(file.size / 1024) + " KB)";
            //}
            return info;
        }).join(", ");
    }

    function DeleteReportFile(id) {
        if (!confirm("Delete this report file?")) return;
        $.ajax({
            url: '/Projects/DeleteReportFile',
            type: 'POST',
            data: {
                id: id
            },
            success: function () {
                Refresh();
            }
        });
    }

    function ScanReports() {
        $.ajax({
            url: '/Projects/ScanReports',
            type: 'POST',
            data: {
                id: '@Model.ID'
            },
            success: function () {
                Refresh();
                $('#myModal').modal('hide');
            }
        });
    }

    function GetFTPInfo() {
        $.ajax({
            url: '/Projects/_FTPInfo',
            type: 'POST',
            data: {
                id: '@Model.ID'
            },
            success: function (response) {
                $('#myModal .modal-body').html(response);
                $('#myModal').modal('show');
            }
        });
    }

</script>


<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -100px;
    }
</style>