﻿@model KABReport.Models.ProjectThemeTemplateViewModel
@{
    ViewBag.Title = "Edit Theme";
}

@using (Html.BeginForm("Edit", "ProjectThemeTemplates", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null || TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (ViewBag.ErrorMessage != null || TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
        <div id="div_Body" class="row">
            <div class="col-sm-6">
                <h2>Edit Theme</h2>
                <hr />
            </div>
            <div class="col-sm-6">
                <br />
                <a class="btn btn-default hidden-xs" style="float:right" href="~/ProjectThemeTemplates/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Themes</a>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:200px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.TitleColor).Events(events => events.Select("OnSelectTitleColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.TitleColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title Align:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.TitleAlign)
                                                 .BindTo(new List<DropDownListItem>()
                                                 {
                                                             new DropDownListItem { Text = "Left", Value = "left" },
                                                             new DropDownListItem { Text = "Center", Value = "center" },
                                                             new DropDownListItem { Text = "Right", Value = "right" }
                                                 })
                                                 .Events(events => events.Change("OnColorChange")).Value(Model.TitleAlign)
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>Button Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.ButtonColor).Events(events => events.Select("OnSelectButtonColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.ButtonColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Button Text Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.ButtonTextColor).Events(events => events.Select("OnSelectButtonTextColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.ButtonTextColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Page Background Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.PageBackgroundColor).Events(events => events.Select("OnSelectPageBackgroundColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.PageBackgroundColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Layer Background Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.TreeViewBackgroundColor).Events(events => events.Select("OnSelectTreeviewColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.TreeViewBackgroundColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Layer Text Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.TreeViewTextColor).Events(events => events.Select("OnSelectTreeviewTextColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.TreeViewTextColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Layer Selected Text Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.TreeViewSelectedTextColor).Events(events => events.Select("OnSelectTreeviewSelectedTextColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.TreeViewSelectedTextColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Layer Selected Background Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.TreeViewSelectedBackgroundColor).Events(events => events.Select("OnSelectTreeviewSelectedBackgroundColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.TreeViewSelectedBackgroundColor)
                        </td>
                    </tr>
                    <tr>
                        <td><label>View Panel Background Color:</label></td>
                        <td>
                            @Html.Kendo().ColorPickerFor(model => model.ViewPanelBackgroundColor).Events(events => events.Select("OnSelectPanelBackgroundColor").Close("OnColorChange").Change("OnColorChange")).Value(Model.ViewPanelBackgroundColor)
                        </td>
                    </tr>
                </table>
                <div clss="row">
                    <div class="col-sm-12">
                        <br /><br />
                        <input type="submit" value="Save" class="btn btn-inverse">
                    </div>
                </div>
            </div>
            <div class="col-sm-8 div-preview-body" style="border: 1px solid grey;">
                <div class="row">
                    <div class="col-sm-12" id="div-title">
                        <h1 class="h1-title">Reports</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 div-preview-panel" style="min-height: 500px;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @(Html.Kendo().TreeView()
                                                                  .Name("HierarchyTreeView")
                                                                  .DataTextField("Name")
                                                                  .BindTo(new List<TreeViewItemModel>
                                                                  {
                                                                                                          new TreeViewItemModel { Id = "1", Text = "File1", Selected = true },
                                                                                                          new TreeViewItemModel { Id = "2", Text = "File2" },
                                                                                                          new TreeViewItemModel { Id = "3", Text = "File3" },
                                                                                                          new TreeViewItemModel { Id = "4", Text = "File4" }
                                                                  })
                                                                  .ExpandAll(true)
                                                                  .LoadOnDemand(true)
                                                                  .HtmlAttributes(new { @style = "color: " + Model.TreeViewTextColor })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="form-group" role="group" aria-label="..." style="width:100%">
                                            <div class="pull-right">
                                                <a class="btn btn-sm btn-default div-preview-button" onclick="DonwloadAll()"><span class="glyphicon glyphicon-download"></span>&nbsp;Download All</a>&nbsp;
                                                <a id="Button_Download" class="btn btn-default div-preview-button"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" id="pdfPreview">
                                        <div style="min-height: 400px; padding:5px 15px 5px 15px;">
                                            @*<h1 class="h1-title">Please click the level of the report you wish to view</h1>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    $(document).ready(function () {
        var treeviewSelectedTextColor = $('#TreeViewSelectedTextColor').data('kendoColorPicker').value();
        $('.div-preview-panel .k-state-selected').css('color', treeviewSelectedTextColor);

        var treeviewSelectedBackgroundColor = $('#TreeViewSelectedBackgroundColor').data('kendoColorPicker').value();
        $('.div-preview-panel .k-state-selected').css('background-color', treeviewSelectedBackgroundColor);
    })

    parent.Refresh();

    function OnSelectPageBackgroundColor(e) {
        var color = e.value;
        $('.div-preview-body').css('background-color', color);
    }

    function OnSelectButtonColor(e) {
        var color = e.value;
        $('.div-preview-button').css('background-color', color);
    }

    function OnSelectButtonTextColor(e) {
        var color = e.value;
        $('.div-preview-button').css('color', color);
    }

    function OnSelectTreeviewColor(e) {
        var color = e.value;
        $('#HierarchyTreeView').css('background-color', color);
    }

    function OnSelectTreeviewTextColor(e) {
        var color = e.value;
        $('#HierarchyTreeView').css('color', color);
    }

    function OnSelectPanelBackgroundColor(e) {
        var color = e.value;
        $('.div-preview-panel').css('background-color', color);
    }

    function OnSelectTitleColor(e) {
        var color = e.value;
        $('.h1-title').css('color', color);
    }

    function OnSelectTreeviewSelectedTextColor(e) {
        var color = e.value;
        $('.div-preview-panel .k-state-selected').css('color', color);
    }

    function OnSelectTreeviewSelectedBackgroundColor(e) {
        var color = e.value;
        $('.div-preview-panel .k-state-selected').css('background-color', color);
    }

    function OnColorChange(e) {
        var bodyColor = $('#PageBackgroundColor').data('kendoColorPicker').value();
        $('.div-preview-body').css('background-color', bodyColor);

        var buttonColor = $('#ButtonColor').data('kendoColorPicker').value();
        $('.div-preview-button').css('background-color', buttonColor);

        var buttonTextColor = $('#ButtonTextColor').data('kendoColorPicker').value();
        $('.div-preview-button').css('color', buttonTextColor);

        var treeviewColor = $('#TreeViewBackgroundColor').data('kendoColorPicker').value();
        $('#HierarchyTreeView').css('background-color', treeviewColor);

        var treeviewTextColor = $('#TreeViewTextColor').data('kendoColorPicker').value();
        $('#HierarchyTreeView').css('color', treeviewTextColor);

        var treeviewSelectedTextColor = $('#TreeViewSelectedTextColor').data('kendoColorPicker').value();
        $('.div-preview-panel .k-state-selected').css('color', treeviewSelectedTextColor);

        var treeviewSelectedBackgroundColor = $('#TreeViewSelectedBackgroundColor').data('kendoColorPicker').value();
        $('.div-preview-panel .k-state-selected').css('background-color', treeviewSelectedBackgroundColor);

        var viewPanelTextColor = $('#ViewPanelBackgroundColor').data('kendoColorPicker').value();
        $('.div-preview-panel').css('background-color', viewPanelTextColor);

        var titleColor = $('#TitleColor').data('kendoColorPicker').value();
        $('.h1-title').css('color', titleColor);

        var titleAlign = $('#TitleAlign').val();
        $('#div-title').css('text-align', titleAlign);
    }

</script>

<style>
    #div_Body table tr th, #div_Body table tr td {
        padding: 2px;
    }

    #div_Body table {
        width: 100%;
    }

    .div-preview-body {
        background-color: @Model.PageBackgroundColor;
    }

    .div-preview-button {
        background-color: @Model.ButtonColor;
        color: @Model.ButtonTextColor;
    }

    #TreeViewBackgroundColor {
        background-color: @Model.TreeViewBackgroundColor;
        color: @Model.TreeViewTextColor;
    }

    .div-preview-panel {
        background-color: @Model.ViewPanelBackgroundColor;
    }

    #HierarchyTreeView {
        background-color: @Model.TreeViewBackgroundColor;
    }

    .div-preview-panel .k-state-selected {
        color: @Model.TreeViewSelectedTextColor;
        background-color: @Model.TreeViewSelectedBackgroundColor;
    }

    #div-title {
        text-align: @Model.TitleAlign;
    }

    .h1-title {
        color: @Model.TitleColor;
    }
</style>
