﻿
@{
    ViewBag.Title = "Project Theme Templates";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-2">
            <a class="btn btn-inverse" href="@Url.Action("New")" ><span class="glyphicon glyphicon-file"></span>&nbsp;New Theme</a>&nbsp;
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                @*<a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>*@                
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<KABReport.Models.ProjectThemeTemplateViewModel>()
                .Name("GridProjectThemes")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Themes").Empty("No Themes Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Name).Title("Name").ClientTemplate("<a href='" + @Url.Action("Edit") + "/#=ID#'><strong>#=Name#</strong></a>");
                    //columns.Bound(p => p.LogoPath).Title("Logo").ClientTemplate("<a target='_blank' href='#=LogoPath#' download='#=LogoPath#'><img src='#=LogoPath#' width='50' height='50' /></a>").Width("3%");
                    columns.Bound(p => p.ButtonColor).ClientTemplate("<div style='background-color:#=ButtonColor#'>#=ButtonColor#</div>").Width("1%");
                    columns.Bound(p => p.ButtonTextColor).ClientTemplate("<div style='background-color:#=ButtonTextColor#'>#=ButtonTextColor#</div>").Width("1%");
                    columns.Bound(p => p.PageBackgroundColor).ClientTemplate("<div style='background-color:#=PageBackgroundColor#'>#=PageBackgroundColor#</div>").Width("1%");
                    columns.Bound(p => p.TreeViewBackgroundColor).Title("Layer Background Color").ClientTemplate("<div style='background-color:#=TreeViewBackgroundColor#'>#=TreeViewBackgroundColor#</div>").Width("1%");
                    columns.Bound(p => p.TreeViewTextColor).Title("Layer Text Color").ClientTemplate("<div style='background-color:#=TreeViewTextColor#'>#=TreeViewTextColor#</div>").Width("1%");
                    columns.Bound(p => p.ViewPanelBackgroundColor).ClientTemplate("<div style='background-color:#=ViewPanelBackgroundColor#'>#=ViewPanelBackgroundColor#</div>").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + @Url.Action("Edit") + "/#=ID#'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");                    
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("1%");
                })
                .Sortable()
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this theme?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Sort(sort => sort.Add("Name").Descending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "ProjectThemeTemplateGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "ProjectThemeTemplateGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditOpportunity" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditOpportunity_Body"></div>
    </div>
</div>

<script>

    function Refresh() {
        var grid = $("#GridProjectThemes").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
        }
    }
    
    $("#TB_Filter").keyup(function (e) {
            Refresh();
    });
    
</script>


