﻿@model KABReport.Models.LanguageSetViewModel
@{
    ViewBag.Title = "Edit User";
}

<div id="divEdit" class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Create Language Set</h2>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/LanguageSets/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Language Sets</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("AddLanguageSet", "LanguageSets", FormMethod.Post))
            {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                    <div class="row" style="margin:0px; padding:0px;">
                        <div class="col-sm-12"></div>
                        <div class="col-sm-4">
                            <label style="color:red">Language Name</label>
                            @Html.TextBoxFor(model => model.Language.Name, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Language.Name, "", new { @class = "text-danger" })
                            <br />
                        </div>
                        <div class="col-sm-4">
                            <label style="color:red">Language Label</label>
                            @Html.TextBoxFor(model => model.Language.Label, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Language.Label, "", new { @class = "text-danger" })
                            <br />
                        </div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-4">
                            <label>Label (Hello)</label>
                            @Html.TextBoxFor(model => model.Label_Hello, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Hello, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Log Off)</label>
                            @Html.TextBoxFor(model => model.Label_LogOff, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_LogOff, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (No Reports Found)</label><br />
                            @Html.TextBoxFor(model => model.Label_NoReportsFound, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_NoReportsFound, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Not Yet)</label>
                            @Html.TextBoxFor(model => model.Label_NotYet, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_NotYet, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Type)</label>
                            @Html.TextBoxFor(model => model.Label_Type, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Type, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Download)</label>
                            @Html.TextBoxFor(model => model.Label_Download, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Download, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Download All)</label>
                            @Html.TextBoxFor(model => model.Label_DownloadAll, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_DownloadAll, "", new { @class = "text-danger" })
                            <br />

                        </div>
                        <div class="col-sm-4">
                            <label>Label (Refresh)</label><br />
                            @Html.TextBoxFor(model => model.Label_Refresh, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Refresh, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Report Name)</label>
                            @Html.TextBoxFor(model => model.Label_ReportName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_ReportName, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Reports)</label><br />
                            @Html.TextBoxFor(model => model.Label_Reports, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Reports, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (SearchPlaceholder)</label>
                            @Html.TextBoxFor(model => model.Label_SearchPlaceholder, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_SearchPlaceholder, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Uploaded)</label>
                            @Html.TextBoxFor(model => model.Label_Uploaded, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_Uploaded, "", new { @class = "text-danger" })
                            <br />

                            <label>Label (Select All)</label>
                            @Html.TextBoxFor(model => model.Label_SelectAll, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Label_SelectAll, "", new { @class = "text-danger" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <hr />
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>


