﻿
@{
    ViewBag.Title = "ImportLanguageSet";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Language Import</h1>
            <hr />
        </div>
        <div class="col-sm-12">
            @using (Html.BeginForm("Import", "LanguageSets", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-3">
                    <br />
                    <div class="form-control">
                        <input id="languageFile" type="file" name="file" style="display:inline-block" />
                    </div>
                    <br />
                    <span class="input-group-btn">
                        <input type="submit" value="Import Languages" class="btn btn-primary btn-sm" onclick="return ValidUpload('languageFile');" />
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
        background: inherit;
        color: inherit;
    }

    html .k-grid tr.k-alt:hover {
        background: #f5f5f5;
        color: inherit;
    }
</style>

<script>

    function ValidUpload(id) {
        var file = $("#" + id).val();
        if (file == "")
            return false;
        else {
            ShowProgress();
            return true;
        }
    }

</script>

