﻿@{
    ViewBag.Title = "Language Sets";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Language Sets</h1>
            <hr />
        </div>

        <div class="col-sm-8">
            <a class="btn btn-info" href="@Url.Action("Create")"><span class="glyphicon glyphicon-user"></span> &nbsp;Add New Language Set</a>
        </div>

        @*<div class="col-sm-4">
            <div class="input-group" style="margin-top:5px;">
                @Html.TextBox("TB_UserFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Email/Name" })
                <span class="input-group-btn">
                    <a class="btn btn-sm btn-default" onclick="SearchUsers()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>*@

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<KABReport.Models.LanguageSetGridViewModel>()
                .Name("GridLanguageSets")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Language Sets Found")))
                .Columns(columns =>
                {
                    columns.Bound(ls => ls.ID).Title("ID").Hidden();
                    columns.Bound(u => u.Language.Name).Title("Language Name").ClientTemplate("<strong>#=Language.Name#</strong>");
                    columns.Bound(u => u.Language.Label).Title("Language Label").ClientTemplate("<strong>#=Language.Label#</strong>");
                    columns.Bound(u => u.Label_Hello).Title("Label (Hello)");
                    columns.Bound(u => u.Label_LogOff).Title("Label (Log Off)");
                    columns.Bound(u => u.Label_NotYet).Title("Label (Not Yet)");
                    columns.Bound(u => u.Label_Refresh).Title("Label (Refresh)");
                    columns.Bound(u => u.Label_Reports).Title("Label (Reports)");
                    columns.Bound(u => u.Label_Type).Title("Label (Type)");
                    columns.Template(@<text></text>).ClientTemplate("...");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit") + "/#=ID#' class='btn btn-xs btn-inverse' >Edit</a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='btn btn-xs btn-danger'>Delete</span>");
                    }
                    ).Width("1%");
                })
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this language set?"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })
                            //Pass the string in the textbox using the anonymously created function
                            .Read(read => read.Action("Read", "LanguageSetGrid").Data("function() { return { filterText: $('#TB_UserFilter').val() }}"))
                            .Destroy(destory => destory.Action("Destroy", "LanguageSets"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
        background: inherit;
        color: inherit;
    }

    html .k-grid tr.k-alt:hover {
        background: #f5f5f5;
        color: inherit;
    }
</style>

<script>
    //$("#TB_UserFilter").keyup(function (e) {
    //    if (e.keyCode == 13) {
    //        SearchUsers();
    //    }
    //});

    function SearchLanguageSets() {
        var grid = $("#GridLanguageSets").data("kendoGrid");
        grid.dataSource.read();
    }
</script>

