﻿@{
    ViewBag.Title = "404";
}

<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h1>404</h1>
               
            </div>
        </div>
    </div>
</div>