﻿@using KABReport.Models
@model LoginViewModel
@{
    ViewBag.Title = "Karian & Box";
}


<div class="container">
    <div class="row">
        @if (User.IsInRole("User"))
        {
        <div class="col-sm-12">

            <div class="alert alert-danger">
                To return to the reports page, please click the original link in your invitation email.
            </div>
        </div>
        }
        <div class="col-sm-7">
            <div class="jumbotron" style="margin-top:5%; background-color:slategray">
                <img src="~/Content/karian_and_box_logo_nav.svg" />
                <h3>Report Distribution Tool</h3>
            </div>
        </div>
    </div>
</div>

<style>
    .jumbotron > h3 {
        color: white;
    }
    body {
        background-color: #4D4D4D;
    }
</style>
